@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: arial,"microsoft yahei";
}

ul,li{
	list-style: none;
}




/*header*/
.header .navbar{
	background-color: #FFFFFF;
	margin-bottom: 0;
	line-height: 90px;
}
.navbar-brand{
	height: auto;
}
.navbar-brand img{
	width: 180px;
}

@media (min-width: 768px){
	.navbar-nav>li>a {
		padding-top: 0;
		padding-bottom: 0;
	    line-height: 90px;
	}
}
.header .nav li a{
	color: #333333;
	font-weight: bold;
}
.header .nav>li>a:hover{
	background-color: transparent;
	color: #007FBB;
}
.header .collapse .btn{
	padding-left: 20px;
	padding-right: 20px;
}
.header .collapse .btn:hover{
	background-color: #101010;
	color: #FFFFFF;
}



/*modal*/

#login .modal-body{	
	padding: 30px;
}
#login .modal-body h5{
	font-size: 26px;	
}




/*banner*/
.banner{
	margin-top: 80px;
}
.carousel-control .fa-angle-right,.carousel-control .fa-angle-left{
	position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    margin-right: -10px;
}
.banner .item .carousel-caption{
	height: 100%;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
	padding-top: 180px;
}
.banner .item .carousel-caption h6{
	font-size: 40px;
	font-weight: bold;
	text-shadow: none;
}
.banner .item .carousel-caption a{
	display: block;
	width: 120px;
	margin: auto;
	margin-top: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}
.banner .item .carousel-caption a:hover{
	background-color: #FFFFFF;
	color: #007FBB;
	text-decoration: none;
}


/*main*/

/*intro1*/
.intro1{
	padding:60px 0;
}
.line_icon{
	background-image: url(../images/default.png);
}
.icon_screen_chart{
	width: 60px;
	height: 60px;
	background-position: 0px -1300%;
	background-size: cover;
}
.icon_support{
	width: 60px;
	height: 60px;
	background-position: 0px -2500%;
	background-size: cover;
}
.icon_bulb{
	width: 60px;
	height: 60px;
	background-position: 0px -1200%;
	background-size: cover;
}
.intro1 h3{
	font-size: 28px;
	font-weight: bold;
	line-height: 50px;
	color: #333333;
}
.intro1 p{
	padding-right:20px;
	font-size: 18px;
	color: #888888;
	line-height: 28px;
}





/*intro2*/
.intro2{
	background-image: url(../images/299037.jpg);
	background-position: center;
	background-attachment: fixed;
	text-align: center;
	height: 420px;
}
.intro2_header{
	padding-top: 50px;
	color: #FFFFFF;
}
.intro2_header h4{
	font-size: 30px;
	line-height: 50px;
	font-weight: bold;
	padding-bottom: 10px;
}
.intro2_header hr{
	width: 30px;
	height: 3px;
	background-color: #428BCA;
	border: none;
	margin: auto;
}
.intro2 .carousel-caption{
	position: initial;
	padding-top: 30px;
	padding-bottom:100px ;
}
.intro2 .item{
	height: 230px;
}
.intro2 .carousel-caption p{
	font-size: 18px;
	line-height: 30px;
	width: 60%;
	margin: auto;
}
.intro2 .carousel-caption span{
	display: block;
	padding-top: 20px;
}



/*footer*/
.footer{
	padding-top: 60px;
	overflow: hidden;
	background-color: #2f353b;
	color: #FFFFFF;
}
.footer h5{
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
}
.footer p{
	padding-right: 30px;
	font-size: 16px;
	color: #5c6873;
}
.footer a{
	font-size: 16px;
	color: #5c6873;
	line-height: 30px;
}
.nav_fo{
	padding-top: 10px;
}
.address_fo li{
	font-size: 16px;
	line-height: 30px;
	color: #5c6873;
}
.bottom_fo{
	padding-top: 50px;
	padding-bottom: 30px;
}



