*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: arial,"微软雅黑";
}


.float_left{
	float: left;
}
.float_right{
	float: right;
}
.inline{
	display: inline;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: initial;
}
.label{
	display: inline-block;
	padding: 6px 8px;
	font-weight: normal;
	font-size: 14px;
}


.select_address .col-md-4{
	padding: 0;
}
.text_gray{
	color: #999999;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}
.tab-pane{
	
}


.table .caret{
	color: #888888;
	float: right;
	margin-top: 8px;
}
.table .caret.orderColor{
	color: red;
}

/*.btn-group{
	display: block;
}*/
.select_r{
	width: 74%;
	float: right;
}
.label_l{
	width: 25%;
	text-align: center;
	float: left;
	line-height: 34px;
	font-weight: normal;
}
.input_unit{
	position: absolute;
	right: 10px;
	top: 8px;
	z-index: 10;
	color: #999999;	
}
.btn-group label{
	width: 33.3%;
}



.portlet.portlet-fullscreen{
	z-index: 99;
}

/*header*/
.page-header{
	padding: 0;
	margin: 0;
	border: 0;
}
.page-header.navbar{
	border-radius: 0;
	margin: 0;
    background-color: #2b3643;
    color: #FFFFFF;
}
.navbar-fixed-top{
	z-index: 90;
}
.navbar-header{
	
}
.page-logo{
	line-height: 50px;
}
@media (max-width: 768px) {
	.navbar{
		height: 40px;
		min-height: auto;
	}
	.page-logo{
		line-height: 40px;
	}
}
/*responsive menu icon*/
.page-header .navbar-toggle{
	margin-top: 10px;
	margin-bottom: 0;
	padding:0;
}
.page-header.navbar .menu-toggler>span, .page-header.navbar .menu-toggler>span:after, .page-header.navbar .menu-toggler>span:before{
    background: #a7b5c6;
}
.page-header.navbar .menu-toggler>span, .page-header.navbar .menu-toggler>span:after, .page-header.navbar .menu-toggler>span:before {
    display: inline-block;
    width: 19px;
    height: 1px;
    background: #fff;
    position: relative;
    top: -6px;
    transition: all ease .3s;
}
.page-header.navbar .menu-toggler>span:before {
    top: 6px;
}
.page-header.navbar .menu-toggler>span:after, .page-header.navbar .menu-toggler>span:before {
    position: absolute;
    left: 0;
    content: '';
}
.page-header.navbar .menu-toggler>span:after {
    top: -6px;
}



/*NAVIGATION MENU*/
.page-header.navbar .top-menu {
    margin: 0;
    padding: 0;
    float: right;
}
@media (min-width: 768px) {
	.top-menu{		
		height: auto!important;	
		width: auto;	
		overflow: visible!important;
		border-top: 0;	
		float: right;	
	}
}
.navbar a{
	color: #EEEEEE;
}
.navbar .dropdown{
	padding-right: 10px;
}
.navbar .dropdown:hover .dropdown-toggle{
	background-color: #3f4f62;
}
.page-header .dropdown:hover .dropdown-menu{
	display: block;
}
.page-header .dropdown .dropdown-menu{
	right: 10px;
	width: 200px;
}

.page-header.navbar .username{
	color: #c6cfda;
}
@media (max-width: 580px){
	.page-header.navbar .top-menu .username.username-hide-on-mobile {
    display: none;
}
}
.navbar-nav {
    margin: 0;
}







.page-container{
	background-color: #eef1f5;
}


/*sidebar*/
.page-sidebar{
	position: fixed;
	z-index: 9;
	top: 50px;
	bottom: 0px;	
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}
@media (max-width: 768px) {
	.page-sidebar{
		top: 40px;
	}
}
@media only screen and (min-width: 768px) {
	.sidebar_inner{
		height: 100%;
		margin-right: -17px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
}
.sidebar_inner{
	background-color: #364150;	
}

.page-sidebar .collapse{	
	padding-bottom: 40px;
	color: #708096;
	line-height: 35px;	
}
.page-sidebar ul{
	padding-top: 5px;
}
.page-sidebar ul>li{
	padding-left: 20px;
	padding-right: 30px;
	overflow: hidden;
}
.page-sidebar .page-sidebar-menu>li.heading{
    padding: 10px 15px;
}
.page-sidebar .page-sidebar-menu>li.heading>h3 {
    color: #708096;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
}


.page-sidebar a{
	display: block;
	color: #b4bcc8;
	text-decoration: none;
}
.page-sidebar a i{
	color: #606C7D;
	margin-right: 6px;
}
.page-sidebar .nav-item:hover{
	background-color: #313b48;
	text-decoration: none;
	color: #FFFFFF;
}
.page-sidebar .nav-item.active{
	background-color: #36c6d3;
	text-decoration: none;
	color: #FFFFFF;
	position: relative;
}
.page-sidebar .nav-item.active a{
	color: #FFFFFF;
}
.page-sidebar li.active a i{
	color: #FFFFFF;
}
.page-sidebar .navbar-collapse{
	padding-left: 0;
	padding-right: 0;
}
.badge{
	display: inline;
}
.page-sidebar .badge{
	margin-top: 8px;
	float: right;
}
.page-sidebar li.active:after{
	content: "";
	width: 35px;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	border-width:17px;
	border-style:dashed solid dashed dashed;
	border-color: transparent #eef1f5 transparent transparent; 
}


.credit{
	height: 50px; 
	position: fixed; 
	left: 0px; 
	bottom: 0px; 
	z-index: 99; 
	background-color: #2B3643;
	line-height: 50px;
}
.credit img{
	width: 60%;
}





/*main*/

.page-content-wrapper{
	
}
.data_display{
	margin-top: 50px;
	float: right;	
	padding: 0;
	background-color: #eef1f5;
}
.page-bar{
	padding:0 20px;
	margin-bottom: 15px;
	background-color: #FFFFFF;
}
.breadcrumb{
	background-color: #FFFFFF;
	border-radius:0 ;
	padding: 10px 0;
	margin-bottom: 0;
}
.page-breadcrumb{
	padding: 10px 0;
}
.page-bar .page-breadcrumb>li {
    display: inline-block;
}
.page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span {
    color: #888;
    font-size: 14px;
    text-shadow: none;
}
.page-bar .page-breadcrumb>li>i {
    color: #aaa;
    opacity: 0.4;
}

.page_content{
	/*padding:10px;*/
	margin: 0px 20px;
	background-color: #FFFFFF;
	overflow: hidden;
}
.data_header{
	position: relative;
	border-bottom: 1px solid #E3E3E3;
}




/*主控制台*/
.main_console .tab_head{
	border-bottom:1px solid #DDDDDD;
	overflow: hidden;
}

.data_nav_h{
	
}

/*筛选搜索*/
.form-location .form-group, .form-switch .form-group, .form-module .form-group, .form-info .form-group {
    padding-left: 0;
    padding-right: 0;
}
.form-module .form-group {
    padding-right: 10px;
}
.form-info .form-group.form-input {
    padding-right: 10px;
}



/*tab*/
.monitor_content .portlet.light>.portlet-title>.nav-tabs>li>a {
    padding-top: 0;
    padding-bottom: 6px;
}
.monitor_content .portlet.light>.portlet-title {
    min-height: 0;
}



/*dashboard*/
.dashboard_content .stat{
	margin-bottom: 25px;
}
.dashboard-stat.bg_purple .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}








/*开关*/
.switch input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.switch input:checked + span {
    background-color: #5d9cec;
    border-color: #5d9cec;
    transition: all .5s;
}


.switch span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 100px;
    transition: all .5s;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
    vertical-align: middle;
}

.switch.switch-lg span {
    width: 50px;
    height: 25px;
}
.switch * {
    cursor: pointer;
}

.switch input:checked + span:after {
    left: 50%;
    transition: all .2s;
}

.switch span:after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #ddd;
    border-radius: 400px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .2s;
}

.switch.switch-lg span:after {
    height: 23px;
    width: 23px;
}





/*分页*/

.select_container select{
	padding: 3px 6px;
}


.pagesize{
	float: left;
	margin: 8px 0;
}

.pagination{
	float: right;
}
.pagination li a{
	cursor: pointer;
}
.count_num{
	margin: 20px 0;
}









/*图文模式*/
.nav-tabs{
	float: right;
}


.view.row{
	margin: 0;
}
.view ul li .view_box{
	border: 1px solid #CCCCCC;
	margin: 10px;
}
.view_header{
	overflow: hidden;
	padding: 20px 20px;
	border-bottom: 1px solid #CCCCCC;
}

.view_title span{
	font-size: 18px;
	color: #555555;
	font-weight: bold;
}


.view .boiler-frame {
    height: 260px;
    overflow: hidden;
}
img.boiler-thumb {
    margin: 0 auto;
    max-width: 96%;
    max-height: 160px;
}


/*list*/
table.table-boiler{
	margin-top: 6px;
}
table.table-boiler th, table.table-boiler tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.list table.table-boiler div.status-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: auto 3px auto 0;
    border-radius: 4px;
}


/*map*/
.font-grey-cascade {
    color: #95A5A6!important;
}

.font-green-jungle {
    color: #26C281!important;
}

table#boiler_list_table{
	min-width: 254px;
} 
.map table#boiler_list_table td {
    font-size: 13px;
    text-align: left;
}
div.status-icon {
	display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 3px;
}
table div.status-icon.success {
    background-color: #32c5d2;
}
table div.status-icon.danger {
    background-color: #f0868e;
}
table div.status-icon.default{
    background-color: #bac3d0;
}
table div.status-icon.warning {
    background-color: #f3cc31;
}






/*alarm*/

.subscription{
	position: absolute;
	left: 20px;
	top: 10px;
	z-index: 9;
}
#alarm_tabs.tabbable-line>.nav-tabs>li.active {
    border-top-color: #36c6d3;
}
#alarm_tabs.tabbable-line>.nav-tabs>li {
    border-top: 4px solid transparent;
    border-bottom: none;
    position: relative;
}

.priority_icon{
	width: 12px;
	height: 12px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 2px;
}
.priority_icon.danger{
	background-color: #D9534F;
}
.priority_icon.warning{
	background-color: #F9B723;
}
.priority_icon.info{
	background-color: #1E983B;
}

.close{
	background-image: none !important;
	text-indent: 0;
}




/*history*/

.historydata .form-control{

}
.historydata .col-md-3,.historydata .col-md-5{
	padding-left: 0;
	padding-right: 0;
}
.historydata .text-center{
	line-height: 34px;
	padding-left: 8px;
	padding-right: 8px;
}

.historydata .data_header {}
.historybody{
	position: relative;
}
/*表格宽度变化*/
.table_responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
}

.table_responsive>.table {
	margin-bottom: 0;
}

.table_responsive>.table>thead>tr>th,
.table_responsive>.table>tbody>tr>th,
.table_responsive>.table>tfoot>tr>th,
.table_responsive>.table>thead>tr>td,
.table_responsive>.table>tbody>tr>td,
.table_responsive>.table>tfoot>tr>td {
	white-space: nowrap;
}

#cd-table::before {
  /* White color gradient on the right */
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  height: 100%;
  width: 35px;
  background: -webkit-linear-gradient( right , white 1%, rgba(255, 255, 255, 0));
  background: linear-gradient(to left, white 1%, rgba(255, 255, 255, 0));
  z-index: 5;
  pointer-events: none;
}
.no-cssgradients #cd-table::before {
  /* remove the gradient using modernizr if css gradients are not supported */
  display: none;
}
#cd-table.table-end::before {
  /* the gradient disappears when user is at the end of the table */
  display: none;
}



.cd-scroll-right {
  /* small right arrow that indicates it's possible to scroll right */
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  background: url("../images/small-arrow.svg") no-repeat center center;
  z-index: 6;
  -webkit-animation: cd-scroll-right 1.5s infinite;
  -moz-animation: cd-scroll-right 1.5s infinite;
  animation: cd-scroll-right 1.5s infinite;
}

@-webkit-keyframes cd-scroll-right {
  0%, 100% {
    -webkit-transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(3px);
  }
}
@-moz-keyframes cd-scroll-right {
  0%, 100% {
    -moz-transform: translateX(0);
  }

  50% {
    -moz-transform: translateX(3px);
  }
}
@keyframes cd-scroll-right {
  0%, 100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
    transform: translateX(3px);
  }
}














/*模态框*/
.modal .data_header{
	color: #1B6D85;
	font-weight: bold;
}
.modal .modal_form{
	overflow: hidden;
} 

.modal .modal_form .form-group{
	display: table;
	padding-left: 0px;
}


.modal .modal_form .form-group label{	
	font-weight: normal;
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	border-right: none;
}
.modal .modal_form .form-group.col-md-12 label{
	width: 190px;
}
.modal .modal_form .form-group div{
	display: table-cell;
}
.modal .modal_form .form-group input{
	border-radius: 0;
}

.modal-body .pagination {
    /*margin: 0;*/
    float: none;
}
div.detail-btn label {
    display: inline-block;
    background-color: #d5e0ea;
    color: #fff;
    margin: 0 3px;
    width: 75px;
}

div.detail-btn label.detail-btn-green:hover {
	background-color: #50ce81;
	color: #fff;
}

div.detail-btn label.detail-btn-red:hover {
	background-color: #eb7d7d;
	color: #fff;
}
div.detail-btn label.detail-btn-yellow:hover {
    background-color: #f3e777;
    color: #fff;
}
div.detail-btn label.active.btn-green {
    background-color: #26ce5c;
    color: #fff;
}
div.detail-btn label.active.btn-yellow {
    background-color: #f1d932;
    color: #fff;
}
div.detail-btn label.active.btn-red {
    background-color: #eb5d68;
    color: #fff;
}
div.detail-btn label.btn-max {
    width: 95px;
}




.runtime_header .btn{
	border-radius: 15px;
}
.runtime_header .btn.btn-default{
	border-color:#2e6da4 ;
	color: #2e6da4;
}
.runtime_header .btn.active, .runtime_header .btn:hover{
	border-color:#2e6da4 ;
	background-color: #337ab7;
	color: #FFFFFF;
	transition: 0.3s;
}
.runtime_container{
	padding: 20px;
}
.runtime_header{
	overflow: hidden;
}
.runtime_header b{
	font-size: 18px;
	color: #D9534F;
}
.runtime_header span{
	padding: 10px ;
}


.runtime_data1,.runtime_data2{
	padding: 5px;
	
}

.data_box{
	border: 1px solid #DDDDDD;
	margin-bottom: 10px;
}
.runtime_container .data_box{	
	min-height: 250px;
}
.runtime_view h3,.runtime_view h4{
	float: left;
	margin: 0;
	padding-left: 10px;
	line-height: 30px;
}
.runtime_view h3{
	font-size: 16px;
	font-weight: bold;
	color: #1B6D85;
}
.runtime_view h4{
	font-size: 14px;
}
.runtime_d_header{
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
	overflow: hidden;
}

.runtime_d_header .float_right{
	padding-right: 10px;
}
.runtime_d_header .runtime_date span{
	font-size: 12px;
	color: #999999;
}
.runtime_d_header .full{
	color: #888888;
}
.run_data_box{
	padding: 10px;
}
.run_data_box .table *{
	border-color: #EEEEEE;
}


.btn_lightblue{
	border: 1px solid #269ABC;
	color: #1B6D85;
}
.btn_lightblue:hover{
	background-color: #31B0D5;
	color: #FFFFFF;
	transition: 0.3s;
}


.flash_view{
	padding-top: 25px;
}



/*维保记录*/
table div.status-line {
    height: 8px;
    line-height: 8px;
    margin-bottom: 2px;
    text-align: left;
}
.status-line .status-icon{
	width: 10px;
    height: 8px;
	margin-right: 2px;
}

div.detail_button {
    margin-left: -15px;
    margin-right: -15px;
}




/*警告列表*/

.data_top{
	/*border-bottom: 1px solid #EEEEEE;*/
	padding: 10px;
}


.maintain_body{
	position: relative;
}


/*锅炉信息*/
 .modal-body .input-group span.unit {
        position: absolute;
        left:auto;
        right:16px;
        top:8px;
        float:right;
        z-index: 10;
        color: grey;
    }

    .modal-body h5 {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .modal-body hr {
        margin-top: 4px;
        margin-bottom: 12px;
    }


/*用户信息*/
/*profile*/
.profile.page_content{
	background-color: transparent;
	overflow: initial;
}
.profile-sidebar-portlet {
    padding: 30px 0 0 0 !important;
}
.profile-sidebar {
    float: left;
    width: 300px;
    margin-right: 20px;
    
}
.profile-content {
  overflow: hidden; 
}


.profile_userpic{
	padding-top:20px ;
	text-align: center;
}
.profile_userpic img{
	width: 55%;
	
}
.profile-usertitle{
	margin-top: 20px;
	text-align: center;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}
.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 7px;
}



.profile-usermenu {
    margin-top: 30px;
    padding-bottom: 20px;
}

.profile-usermenu ul li a{
	color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
    font-size: 16px;
}
.profile-stat{
	padding-bottom: 20px;
	border-bottom: 1px solid #f0f4f7;
}

.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
}
.profile-stat-text {
    color: #5b9bd1;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
}

.profile_desc_text{
	color: #7e8c9e;
    font-size: 14px;
}
.profile-desc-link a {
    font-size: 14px;
    font-weight: 600;
    color: #5b9bd1;
}
.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px;
}

.profile-content{
	background-color: #FFFFFF;
}
.profile-content .data_top h5{
	font-size: 15px;
	color: #1B6D85;
	font-weight: bold;
}
.portlet_body{
	padding: 10px;
}






.wiki{
	
}











/*按钮*/
.select_container{
	position: relative;
}
.button {
  display: block;
  position: absolute;
  left: 70px;
  top: 65px;
  width: 120px;
  height: 40px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 16px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button span {
  position: absolute;
  display: block;
}
.button span:first-of-type {
  z-index: 100;
  top: 2px;
  right: 2px;
  width: 70px;
  height: 36px;
  background-color:#DDDDDD;
  border-radius: 16px;
  -webkit-transition: right 400ms cubic-bezier(1, 0, 0, 1), box-shadow 400ms ease;
          transition: right 400ms cubic-bezier(1, 0, 0, 1), box-shadow 400ms ease;
}
.button span:nth-last-of-type(-n+2) {
  z-index: 10;
  top: 2px;
  width: 58px;
  height: 36px;
  -webkit-transition: opacity 800ms ease 100ms;
          transition: opacity 800ms ease 100ms;
}
.button span:nth-last-of-type(-n+2):after {
  position: absolute;
  top: 12px;
  line-height: 1;
  font-weight: normal;
  font-size: 14px;
  color: white;
}
.button span:nth-of-type(2) {
  left: 2px;
 background-color: #d9534f;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.button span:nth-of-type(2):after {
  content: "停燃";
  left: 9px;
}
.button span:last-of-type {
  right: 2px;
  background-color: #31B0D5;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  opacity: 0.2;
}
.button span:last-of-type:after {
  content: "燃烧";
  right: 11px;
}
.button input[type="checkbox"] {
  display: none;
}
.button input[type="checkbox"]:checked ~ span:first-of-type {
  right: 48px;
}
.button input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  opacity: 0.2;
}
.button input[type="checkbox"]:checked ~ span:last-of-type {
  opacity: 1;
}
