*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: arial,"微软雅黑";
}
div{
	 transition: all linear 0.3s;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}
.inline{
	display: inline;
}


.label{
	display: inline-block;
	padding: 6px 8px;
	font-weight: normal;
	font-size: 14px;
}
.badge-danger{
	background-color: #EE5F5B;
}

.row{
	/*padding-top: 5px;*/
	padding-bottom: 10px;
}
.select_address .col-md-4{
	padding: 0;
}
.text_gray{
	color: #999999;
}
.tab-pane{
	padding: 10px;
}
.table{
	
}
.table .caret{
	color: #888888;
	float: right;
	margin-top: 8px;
}
.orderColor{
	color: red;
}
/*.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
	padding-left: 5px;
	padding-right: 5px;
}*/
.btn-group{
	display: block;
}
.select_r{
	width: 75%;
	float: right;
}
.label_l{
	width: 25%;
	text-align: center;
	float: left;
	line-height: 34px;
	font-weight: normal;
}
.input_unit{
	position: absolute;
	right: 10px;
	top: 8px;
	z-index: 10;
	color: #999999;	
}
.btn-group label{
	width: 33.3%;
}





/*header*/
.navbar-fixed-top{
	z-index: 999;
}
.navbar{
	border-radius: 0;
	margin: 0;
	background-color: #2b3643;
	color: #FFFFFF;
}
.navbar a{
	color: #EEEEEE;
}
.navbar .dropdown{
	padding-right: 10px;
}
.navbar .dropdown:hover .dropdown-toggle{
	background-color: #122B40;
}
.header .dropdown:hover .dropdown-menu{
	display: block;
}
.header .dropdown .dropdown-menu{
	right: 10px;
	width: 200px;
}

.navbar-header{
	line-height: 50px;
}
.header .navbar-toggle{
	margin-top: 0;
	margin-bottom: 0;
	padding:0;
}








/*sidebar*/
.sidebar{
	position: fixed;
	z-index: 99;
	top: 50px;
	bottom: 0px;	
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}
@media only screen and (min-width: 768px) {
	.sidebar_inner{
		height: 100%;
		margin-right: -17px;
		overflow-x: hidden;
		overflow-y: scroll;
	}
}
.sidebar_inner{
	background-color: #364150;	
}

.sidebar .collapse{	
	padding-bottom: 40px;
	color: #708096;
	line-height: 35px;	
}
.sidebar .nav{
	padding-top: 10px;
}
.sidebar .nav>ul>li{
	padding-left: 20px;
	padding-right: 30px;
	overflow: hidden;
}
.sidebar a{
	display: block;
	color: #b4bcc8;
	text-decoration: none;
}
.sidebar a i{
	color: #606C7D;
	margin-right: 6px;
}
.sidebar .nav-item:hover{
	background-color: #313b48;
	text-decoration: none;
	color: #FFFFFF;
}
.sidebar .nav-item.active{
	background-color: #36c6d3;
	text-decoration: none;
	color: #FFFFFF;
	position: relative;
}
.sidebar .nav-item.active a{
	color: #FFFFFF;
}
.sidebar li.active a i{
	color: #FFFFFF;
}
.sidebar .navbar-collapse{
	padding-left: 0;
	padding-right: 0;
}
.badge{
	display: inline;
}
.sidebar .badge{
	margin-top: 8px;
}
.sidebar li.active:after{
	content: "";
	width: 35px;
	height: 35px;
	position: absolute;
	right: 0;
	top: 0;
	border-width:17px;
	border-style:dashed solid dashed dashed;
	border-color: transparent #eef1f5 transparent transparent; 
}




.credit{
	height: 50px; 
	position: fixed; 
	left: 0px; 
	bottom: 0px; 
	z-index: 999; 
	background-color: #2B3643;
	line-height: 50px;
}
.credit img{
	width: 60%;
}


/*main*/
.data_display{
	margin-top: 50px;
	float: right;	
	padding: 0;
	background-color: #eef1f5;
/*	overflow: hidden;*/
}

.breadcrumb{
	background-color: #FFFFFF;
	border-radius:0 ;
}

.page_content{
	padding:10px;
	margin: 0px 20px;
	background-color: #FFFFFF;
	overflow: hidden;
}
.data_header{
	position: relative;
	border-bottom: 1px solid #E3E3E3;
}




/*主控制台*/
.main_console .tab_head{
	border-bottom:1px solid #DDDDDD;
	overflow: hidden;
}



.data_nav_h{
	
}





/*dashboard*/
.blue{
	background-color: #3598dc;
	color: #FFFFFF;
}
.red{
	background-color: #e7505a;
	color: #FFFFFF;
}
.green{
	background-color: #32c5d2;
	color: #FFFFFF;
}
.stat{
	margin-top: 20px;	
	position: relative;	
}
.stat .panel{	
	height: 120px;
	overflow: hidden;
}
.stat_data{
	text-align: right;
	padding-right: 10px;
	padding-top: 15px;
	height: 90px;
}
.stat_data_d{
	font-size: 34px;
}
.stat_more{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;	
	font-size: 12px;
	color: #FFFFFF;	
	padding-left: 10px;
	padding-right: 10px;
	opacity: 0.6;	
}

.stat_more span{
	float: right;
	padding-top: 8px;
}
.stat_more:hover{
	color: #FFFFFF;
	opacity: 0.9;	
}
.blue .stat_more{
	background-color: #258fd7;
}
.red .stat_more{
	background-color: #e53e49;
}
.green .stat_more{
	background-color: #2bb8c4;
}

.stat_header{
	border-bottom: 1px solid #EEEEEE;
	padding:0 20px;	
}
.stat .visual {
	position: absolute;
	left: 0;
	top: 10px;	
    width: 80px;
    height: 80px;
    display: block;
    font-size: 32px;
    opacity: 0.15;
    filter: alpha(opacity=15);
}
/*full screen*/
.portlet-fullscreen {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #fff;
}
.data_display_full{
	width: 100%;
	height: 100%;
	padding: 20px;
	margin: 0;
}
.portlet-fullscreen .full{
	width: 100%;
}
.portlet-fullscreen.page_content{
	overflow: visible;
}
.full_screen.fa{
	color: #888888;
	cursor: pointer;
}
.full_screen.fa:hover{
	color: #122B40;
}
.full{
	/*padding-top: 20px;*/
}
.stat_header .full_screen{
	margin-top: 10px;
	cursor: pointer;
	color: #888888;
}
.stat_header .full_screen.btn{
	padding: 5px;
}
.stat_header .full_screen:hover{
	color: #122B40;
}






/*开关*/
.switch input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.switch input:checked + span {
    background-color: #5d9cec;
    border-color: #5d9cec;
    transition: all .5s;
}


.switch span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 100px;
    transition: all .5s;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
    vertical-align: middle;
}

.switch.switch-lg span {
    width: 50px;
    height: 25px;
}
.switch * {
    cursor: pointer;
}

.switch input:checked + span:after {
    left: 50%;
    transition: all .2s;
}

.switch span:after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #ddd;
    border-radius: 400px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .2s;
}

.switch.switch-lg span:after {
    height: 23px;
    width: 23px;
}





/*分页*/

.select_container select{
	padding: 3px 6px;
}


.pagesize{
	float: left;
	margin: 8px 0;
}

.pagination{
	float: right;
}
.pagination li a{
	cursor: pointer;
}
.count_num{
	margin: 20px 0;
}





.subscription{
	position: absolute;
	left: 20px;
	top: 10px;
	z-index: 9;
}
.nav-tabs{
	float: right;
}

.view ul li{	
	padding: 0;
	
}
.view .row{
	margin: 0;
}
.view ul li .view_box{
	border: 1px solid #CCCCCC;
	margin: 10px;
}
.view_header{
	overflow: hidden;
	padding: 20px 20px;
	border-bottom: 1px solid #CCCCCC;
}

.view_header .view_title span{
	font-size: 18px;
	color: #555555;
	font-weight: bold;
}
.view_body{
	padding: 20px 10px;
	overflow: hidden;
}
.view_body table th{
	color: #999999;
	height: 50px;
	
}
.view_body img{
	width: 100%;
}


/*alarm*/
.priority_icon{
	width: 12px;
	height: 12px;
	border-radius: 5px;
	float: left;
	margin-right: 2px;
}
.priority_icon.danger{
	background-color: #D9534F;
}
.priority_icon.warning{
	background-color: #F9B723;
}
.priority_icon.info{
	background-color: #1E983B;
}

/*history*/

.historydata .form-control{

}
.historydata .col-md-3,.historydata .col-md-5{
	padding-left: 0;
	padding-right: 0;
}
.historydata .text-center{
	line-height: 34px;
	padding-left: 8px;
	padding-right: 8px;
}

.historydata .data_header{
	
}




/*模态框*/
.modal .data_header{
	color: #1B6D85;
	font-weight: bold;
}
.modal .modal_form{
	overflow: hidden;
} 

.modal .modal_form .form-group{
	display: table;
	padding-left: 0px;
}


.modal .modal_form .form-group label{	
	font-weight: normal;
	display: table-cell;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #EEEEEE;
	border: 1px solid #DDDDDD;
	border-right: none;
}
.modal .modal_form .form-group.col-md-12 label{
	width: 190px;
}
.modal .modal_form .form-group div{
	display: table-cell;
}
.modal .modal_form .form-group input{
	border-radius: 0;
}









.runtime_header .btn{
	border-radius: 15px;
}
.runtime_header .btn.btn-default{
	border-color:#2e6da4 ;
	color: #2e6da4;
}
.runtime_header .btn.active, .runtime_header .btn:hover{
	border-color:#2e6da4 ;
	background-color: #337ab7;
	color: #FFFFFF;
	transition: 0.3s;
}
.runtime_container{
	padding: 20px;
}
.runtime_header{
	overflow: hidden;
}
.runtime_header b{
	font-size: 18px;
	color: #D9534F;
}
.runtime_header span{
	padding: 10px ;
}


.runtime_data1,.runtime_data2{
	padding: 5px;
	
}

.data_box{
	border: 1px solid #DDDDDD;
}
.runtime_container .data_box{	
	min-height: 250px;
}
.runtime_view h3,.runtime_view h4{
	float: left;
	margin: 0;
	padding-left: 10px;
	line-height: 30px;
}
.runtime_view h3{
	font-size: 16px;
	font-weight: bold;
	color: #1B6D85;
}
.runtime_view h4{
	font-size: 14px;
}
.runtime_d_header{
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
	overflow: hidden;
}

.runtime_d_header .float_right{
	padding-right: 10px;
}
.runtime_d_header .runtime_date span{
	font-size: 12px;
	color: #999999;
}
.runtime_d_header .full{
	color: #888888;
}
.run_data_box{
	padding: 10px;
}
.run_data_box .table *{
	border-color: #EEEEEE;
}


.btn_lightblue{
	border: 1px solid #269ABC;
	color: #1B6D85;
}
.btn_lightblue:hover{
	background-color: #31B0D5;
	color: #FFFFFF;
	transition: 0.3s;
}


.flash_view{
	padding-top: 25px;
}


/*警告列表*/

.data_top{
	/*border-bottom: 1px solid #EEEEEE;*/
	padding: 10px;
}


.maintain_body{
	position: relative;
}






/*用户信息*/
.profile-sidebar{
	text-align: center;
}
.back_w{
	background-color:#FFFFFF;
	padding-bottom:10px ;
}
.profile-sidebar .back_w{
	margin-bottom: 20px;
}
.profile_userpic{
	padding-top:20px ;
}
.profile_userpic img{
	width: 45%;
}
.profile_usertitle{
	padding-top: 20px;
	padding-bottom: 20px;
}
.profile_usertitle_name{
	font-size: 20px;
	color: #31708F;
	font-weight: bold;
	line-height: 40px;
}
.profile-usermenu{
	line-height: 40px;
	text-align: left;	
}
.profile-usermenu a{
	display: block;
	font-size: 16px;
	color: #46B8DA;
	border-left: 2px solid #46B8DA;
	padding-left: 20px;
}
.profile_stat{
	padding-top: 20px;
	padding-bottom: 20px;
}
.profile_stat_title{
	font-family: arial;
	font-size: 24px;
	color: #31708F;
}
.profile_stat_text{
	font-size: 12px;
	font-weight: bold;
	color: #66AFE9;
}
.profile_desc_text{
	font-weight: bold;
	color: #66AFE9;
}

.profile-content{
	background-color: #FFFFFF;
}
.profile-content .data_top h5{
	font-size: 15px;
	color: #1B6D85;
	font-weight: bold;
}
.portlet_body{
	padding: 10px;
}







.wiki{
	padding: 10px;
}











/*按钮*/
.select_container{
	position: relative;
}
.button {
  display: block;
  position: absolute;
  left: 70px;
  top: 65px;
  width: 120px;
  height: 40px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 16px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.button span {
  position: absolute;
  display: block;
}
.button span:first-of-type {
  z-index: 100;
  top: 2px;
  right: 2px;
  width: 70px;
  height: 36px;
  background-color:#DDDDDD;
  border-radius: 16px;
  -webkit-transition: right 400ms cubic-bezier(1, 0, 0, 1), box-shadow 400ms ease;
          transition: right 400ms cubic-bezier(1, 0, 0, 1), box-shadow 400ms ease;
}
.button span:nth-last-of-type(-n+2) {
  z-index: 10;
  top: 2px;
  width: 58px;
  height: 36px;
  -webkit-transition: opacity 800ms ease 100ms;
          transition: opacity 800ms ease 100ms;
}
.button span:nth-last-of-type(-n+2):after {
  position: absolute;
  top: 12px;
  line-height: 1;
  font-weight: normal;
  font-size: 14px;
  color: white;
}
.button span:nth-of-type(2) {
  left: 2px;
 background-color: #d9534f;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.button span:nth-of-type(2):after {
  content: "停燃";
  left: 9px;
}
.button span:last-of-type {
  right: 2px;
  background-color: #31B0D5;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  opacity: 0.2;
}
.button span:last-of-type:after {
  content: "燃烧";
  right: 11px;
}
.button input[type="checkbox"] {
  display: none;
}
.button input[type="checkbox"]:checked ~ span:first-of-type {
  right: 48px;
}
.button input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  opacity: 0.2;
}
.button input[type="checkbox"]:checked ~ span:last-of-type {
  opacity: 1;
}
