<nav class="">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		
			<!--logo-->
			<a class="page-logo" href="#">				
				<img ng-show="!currentUser.Organization.ShowBrand"
                 	ng-src="../images/light.png"/>
		        <span ng-show="currentUser.Organization.ShowBrand"
		              class="brand">{{ currentUser.Organization.BrandName }}
		        </span>
			</a>

			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<div class="visible-xs-inline ">
				<a class="navbar-toggle menu-toggler" data-toggle="collapse" data-target="#navbar-collapse">				    
				    <span></span>
				</a>
			</div>
			
			<!-- BEGIN TOP NAVIGATION MENU -->
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="top-menu">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown dropdown-user">
						<a href="" class="dropdown-toggle">
							<i class="fa fa-user-circle fa-lg"></i> &nbsp;
							<span class="username username-hide-on-mobile"> <!--{{ header.loginName }} -->厚德能源测试(管理员)</span>						
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a ui-sref="profile.account">
									<i class="fa fa-user-o"></i> &nbsp; 个人信息
								</a>
							</li>
							
							<li role="separator" class="divider"></li>
							
							<li>
								<a href="">
									<i class="fa fa-sign-out"></i> &nbsp; 登出
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		
			
		
	</div>
	<!-- /.container-fluid -->

</nav>