<div class="page-sidebar col-xs-12 col-sm-3 col-md-2">
	<div class="sidebar_inner">
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="page-sidebar-menu page-header-fixed fixed" data-keep-expanded="true" data-auto-scroll="false" data-slide-speed="200">
				<li class="heading">
					<h3 class="uppercase">主监控台</h3>
				</li>
				<li ng-class="{'active':currentPage === 'dashboard'}" class="nav-item">
					<a href="" ui-sref="monitor.dashboard" ng-click="setPage('dashboard')">
						<i class="fa fa-area-chart"></i> 
						<span class="title">能效统计</span>
					</a>
				</li>
				<li ng-class="{'active':currentPage === 'monitor'}" class="nav-item">
					<a href="" ui-sref="monitor.thumb" ng-click="setPage('monitor')">
						<i class="fa fa-tachometer"></i> 
						<span class="title">设备概览</span>
					</a>
				</li>
				<li class="heading">
		            <h3 class="uppercase">常用功能</h3>
		        </li>
				<li ng-class="{'active':currentPage === 'alarm'}" class="nav-item">
					<a href="" ui-sref="alarm" ng-click="setPage('alarm')">
						<i class="fa fa-warning"></i> 
						<span class="title">告警信息</span>
						<span class="badge badge-danger"> <!--{{ boilerAlarms.length }}--> 14</span>
					</a>

				</li>
				<li ng-class="{'active':currentPage === 'dialogue'}" class="nav-item">
					<a href="" ui-sref="dialogue" ng-click="setPage('dialogue')">
						<i class="fa fa-comment"></i> 
						<span class="title">专家咨询</span>
					</a>
				</li>
				<li ng-class="{'active':currentPage === 'boiler-maintain'}" class="nav-item">
					<a href="" ui-sref="boiler-maintain" ng-click="setPage('boiler-maintain')">
						<i class="fa fa-calendar-plus-o"></i>
						<span class="title">维保记录</span>
					</a>
				</li>
				<li class="heading">
					<h3 class="uppercase">信息维护</h3>
				</li>
				<li ng-class="{'active':currentPage === 'organization'}" class="nav-item">
					<a href="" ui-sref="organization.overview" ng-click="setPage('organization')">
						<i class="fa fa-home"></i> 
						<span class="title">企业信息</span>
					</a>
				</li>
				<li ng-class="{'active':currentPage === 'boiler'}" class="nav-item">
					<a href="" ui-sref="boiler.dashboard" ng-click="setPage('boiler')">
						<i class="fa fa-industry"></i> 
						<span class="title">锅炉信息</span>
					</a>
				</li>
				<li ng-class="{'active':currentPage === 'terminal'}" class="nav-item">
					<a href="" ui-sref="terminal.dashboard" ng-click="setPage('terminal')">
						<i class="fa fa-terminal"></i> 
						<span class="title">终端管理</span>
					</a>
				</li>
				<li class="heading">
					<h3 class="uppercase">系统设置</h3>
				</li>
				<li ng-class="{'active':currentPage === 'config-runtime-alarm'}" class="nav-item">
					<a href="" ui-sref="config-runtime-alarm" ng-click="setPage('config-runtime-alarm')">
						<i class="fa fa-bell-o"></i> 
						<span class="title">告警规则</span>
					</a>
				</li>
				<li ng-class="{'active':currentPage === 'config-runtime-parameter'}" class="nav-item">
					<a href="" ui-sref="config-runtime-parameter" ng-click="setPage('config-runtime-parameter')">
						<i class="fa fa-bar-chart"></i> 
						<span class="title">运行参数</span>
					</a>
				</li>
				<li ng-class="{'active':currentPage === 'user-account'}" class="nav-item">
					<a href="" ui-sref="user-account" ng-click="setPage('user-account')">
						<i class="fa fa-users"></i> 
						<span class="title">账号管理</span>
					</a>
				</li>
				<li ng-class="{'active':currentPage === 'profile'}" class="nav-item">
					<a href="" ui-sref="profile.account" ng-click="setPage('profile')">
						<i class="fa fa-user"></i> 
						<span class="title">用户信息</span>
					</a>
				</li>
				<li ng-class="{'active':currentPage === 'wiki'}" class="nav-item">
					<a href="" ui-sref="wiki" ng-click="setPage('wiki')">
						<i class="fa fa-info-circle"></i> 
						<span class="title">系统帮助</span>
						<span class="badge badge-info">7.10</span>
					</a>
				</li>
			</ul>

			<div class="col-xs-12 col-sm-3 col-md-2 credit">
				<img src="../images/lu.png" />
			</div>

		</div>
	</div>
</div>