<div class="">
	<div class="nav nav-stacked ">
		<ul >
			<li class="heading">
				主控制台				
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('dashboard')}" class="nav-item">
				<a href="" ui-sref="dashboard">
					<i class="fa fa-area-chart"></i>
					 能效统计
				</a>
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('monitor')}" class="nav-item">
				<a href="" ui-sref="monitor.thumb">
					<i class="fa fa-tachometer"></i>
					 设备概览
				</a>
			</li>
			<li class="heading">
				常用功能
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('alarm')}" class="nav-item">
				<a href="" ui-sref="alarm">
					<i class="fa fa-warning"></i>
					 告警信息
					<span class="badge badge-danger pull-right">14</span>
				</a>

			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('dialogue')}" class="nav-item">
				<a href="" ui-sref="dialogue">
					<i class="fa fa-comment"></i>
					专家咨询
				</a>
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('boiler-maintain')}" class="nav-item">
				<a href="" ui-sref="boiler-maintain">
					<i class="fa fa-calendar-plus-o"></i>
					维保记录
				</a>
			</li>
			<li class="heading">
				信息维护
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('organization')}" class="nav-item">
				<a href="" ui-sref="organization">
					<i class="fa fa-home"></i> 
					企业信息
				</a>
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('boiler')}"  class="nav-item">
				<a href="" ui-sref="boiler">
					<i class="fa fa-industry"></i>
					锅炉信息
				</a>
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('terminal')}"  class="nav-item">
				<a href="" ui-sref="terminal">
					<i class="fa fa-terminal"></i> 
					终端管理
				</a>
			</li>
			<li class="heading">
				系统设置
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('config-runtime-alarm')}"  class="nav-item">
				<a href="" ui-sref="config-runtime-alarm">
					<i class="fa fa-bell-o"></i>
					告警规则
				</a>
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('config-runtime-parameter')}"  class="nav-item">
				<a href="" ui-sref="config-runtime-parameter">
					<i class="fa fa-bar-chart"></i>
					运行参数
				</a>
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('user-account')}"  class="nav-item">
				<a href="" ui-sref="user-account">
					<i class="fa fa-users"></i> 
					账号管理
				</a>
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('profile')}"  class="nav-item">
				<a href="" ui-sref="profile.account">
					<i class="fa fa-user"></i>
					用户信息
				</a>
			</li>
			<li ui-sref-active="active" ng-class="{active:isActiveTag('wiki')}"  class="nav-item">
				<a href="" ui-sref="wiki">
					<i class="fa fa-info-circle"></i>
					系统帮助
				</a>
			</li>						
		</ul>
			
			
			
			<div class="col-xs-12 col-sm-3 col-md-2 credit">
						<img src="../images/lu.png"/>
					</div>
		
	</div>
</div>