<style>
	.portlet{
		margin-bottom: 0px;
	}
	.table td{
		white-space: nowrap;
		font-size: 13px;
	}
	
	 
</style>
<div class="row">
	<div class="col-md-3" style="padding: 0; padding-left: 10px; ">
		<div ng-controller="statusModule" id="status_1" style="height: 60px;">
			
		</div>
		<div class="">
			<!-- BEGIN SAMPLE TABLE PORTLET-->
			<div class="portlet light bordered" style="padding: 5px;padding-top: 0; border-color: #DDDDDD;">

				<div class="portlet-body">
					<table class="table table-hover table-light" style="margin-bottom: 0;">
							<thead>
                            <tr>
                                <th style="width: 40%;">测量项目</th>
                                <th>状态值</th>

                            </tr>
                            </thead>
					</table>
					<div class="" style="height: 300px;width: 100%; overflow: auto; overflow-x: hidden;margin-top: 0;">
						<table class="table table-hover table-light">
							<!--<thead>
                            <tr>
                                <th>测量项目</th>
                                <th>状态值</th>
                            </tr>
                            </thead>-->
							<tbody>
								<tr ng-repeat="d in runtime.instants"
	                                ng-show="d.category === 13">
	                                <td> {{d.name}} </td>
	                                <td>
	                                    <span ng-class="['label', 'label-sm', {'label-success': d.alarmLevel == 0}, {'label-default': d.alarmLevel == -1}, {'label-warning': d.alarmLevel == 1}, {'label-danger': d.alarmLevel == 2} ]"> 
	                                        {{d.remark}}
	                                    </span>
	                                </td>
	                           </tr>																								
							</tbody>
						</table>
						 
					</div>
				</div>
			</div>
			<!-- END SAMPLE TABLE PORTLET-->
		</div>
	</div>
	<div class="col-md-6" style="padding: 0; ">
		<boiler-module></boiler-module>
		<div class="" >
			<div ng-show="runtime.boiler.hasSwitchValue"
                 style="margin-top: 12px;margin-left: 10px;margin-right: 10px; border: 1px solid #DDDDDD;">
                        <span ng-repeat="d in runtime.instants"
                              ng-show="d.category === 11"
                              class="label label-sm ng-binding ng-scope"
                              ng-class="{'label-warning': d.value, 'label-default': !d.value}"
                              style="margin: 4px 4px; display: inline-block;">
                            {{ d.name }}
                        </span>
            </div>
			
			<div 
                             style="margin-top: 12px; margin-left: 10px;margin-right: 10px; border: 1px solid #DDDDDD;">
                                    <span 
                                          class="label label-sm label-danger"                                         
                                          style="margin: 4px 4px; display: inline-block;">
                                       循环泵状态
                                    </span>
                                    
                                     <span 
                                          class="label label-sm label-danger"                                          
                                          style="margin: 4px 4px; display: inline-block;">
                                       循环泵状态
                                    </span>
                                    
                                     <span 
                                          class="label label-sm label-danger"                                          
                                          style="margin: 4px 4px; display: inline-block;">
                                       循环泵状态
                                    </span>
                                   
                                     
                                    
            </div>
		</div>
	</div>
	<div class="col-md-3" style="padding: 0; padding-right: 10px;">
		<!-- BEGIN SAMPLE TABLE PORTLET-->
			<div class="portlet light bordered" style="padding: 5px;padding-top: 0; ">

				<div class="portlet-body">
					<table class="table table-hover table-light" style="margin-bottom: 0;">
							<thead>
								<tr>
									<th style="width: 30%;">测量项目</th>
									<th>测量值</th>
									<th style="width: 18%;">单位</th>
									<th>状态</th>
								</tr>
							</thead>
					</table>		
					<div class="" style="height: 360px; overflow: auto; margin-top: 0;">
						<table class="table table-hover table-light" >
							<!--<thead>
								<tr>
									<th>测量项目</th>
									<th>测量值</th>
									<th>单位</th>
									<th>状态</th>
								</tr>
							</thead>-->
							<tbody>
								<tr ng-repeat="d in runtime.instants" ng-show="d.category !== 11 && d.category != 13">
									<td> {{d.name}} </td>
									<td> {{d.value}} </td>
									<td> {{d.unit}} </td>
									<td>
										<span ng-class="['label', 'label-sm', {'label-success': d.alarmLevel == 0}, {'label-default': d.alarmLevel == -1}, {'label-warning': d.alarmLevel == 1}, {'label-danger': d.alarmLevel == 2}]">{{d.alarmDesc}}</span>
									</td>
								</tr>
								
								
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- END SAMPLE TABLE PORTLET-->
	</div>
</div>

