<div class="page-bar">
	<ol class="page-breadcrumb">
		<li>
            <a ui-sref="monitor.dashboard">主页</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="monitor.dashboard">主监控台</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a ui-sref="runtime.dashboard({boiler: runtime.boiler.Uid})">实时监控</a>
            
        </li>

	</ol>
</div>


	<div  ng-init="runtime.init();" class="page_content" >
		<div class="row">
			<div class="col-md-12" ng-init="runtime.fetchBoiler();">
				<div class="portlet light portlet-fit bordered">
					<div class="portlet-title">
						<div class="caption">
	                        <span class="caption-md font-red sbold uppercase"><i class="fa fa-cog"></i> 
	                        	<!--{{runtime.boiler.Name}}-->
	                        	4564454
	                        </span>
	                        <span class="caption-subject font-dark uppercase">
	                        	<!--{{runtime.boiler.ModelCode}}-->
	                        	11111
	                        </span>　
	                        <span class="caption-subject font-blue uppercase"><i class="fa fa-user font-blue-dark"></i> {{runtime.boiler.Contact.Name}}</span>　
	                        <span class="caption-subject font-blue uppercase"><i class="fa fa-phone font-blue-dark"></i> {{runtime.boiler.Contact.MobileNumber}}</span>
	                    </div>
	                    <div class="actions">            	
							<a ui-sref-active="active" ui-sref=".dashboard({boiler: runtime.boiler.Uid})" 
								class="btn blue btn-outline btn-circle btn-sm">
								动画监测
							</a>
							<a ui-sref-active="active" ui-sref=".stats({boiler: runtime.boiler.Uid})" 
								class="btn blue btn-outline btn-circle btn-sm">
								运行参数
							</a>
							<a ui-sref-active="active" ui-sref=".history({boiler: runtime.boiler.Uid})" 
								class="btn blue btn-outline btn-circle btn-sm">
								历史数据
							</a>
							<a ui-sref-active="active" ui-sref=".alarm({boiler: runtime.boiler.Uid})" 
								class="btn blue btn-outline btn-circle btn-sm">
								锅炉告警
							</a>
							<a ui-sref-active="active" ui-sref=".maintain({boiler: runtime.boiler.Uid})"  
								class="btn blue btn-outline btn-circle btn-sm">
								维保记录
							</a>
							<a ui-sref-active="active" ui-sref="runtime.developer({boiler: runtime.boiler.Uid})"								
								 class="btn blue btn-outline btn-circle btn-sm">
								 <i class="fa fa-ellipsis-h"></i>
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div ui-view class=" fade-in-up"></div>
					</div>
				</div>
			</div>
			
		</div>	
			
			
	</div>
		
		<script src="../js/lib/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/serial.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/pie.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/themes/light.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/lang/zh.js" type="text/javascript"></script>		
		
<script type="text/javascript" src="../js/lib/d3/d3.v4.js"></script>
<script type="text/javascript" src="../js/test/gauge.js"></script>

<script>
    var gauges = [];
    function createGauge(name, label, min, max) {
        var config = {
            size: 120,
            label: label,
            min: undefined != min ? min : 0,
            max: undefined != max ? max : 100,
            minorTicks: 5
        };

        var range = config.max - config.min;
        config.yellowZones = [{from: config.min + range * 0.75, to: config.min + range * 0.9}];
        config.redZones = [{from: config.min + range * 0.9, to: config.max}];

        gauges[name] = new Gauge(name + "GaugeContainer", config);
        gauges[name].render();
    }

    function createGauges() {

        createGauge("memory", "Memory");
        createGauge("cpu", "CPU");
        createGauge("network", "Network");
        createGauge("test", "Test", -50, 50 );
    }

    function updateGauges() {
        for (var key in gauges) {
            var value = getRandomValue(gauges[key]);
            gauges[key].redraw(value);
        }
    }

    function getRandomValue(gauge) {
        var overflow = 0; //10;
        return gauge.config.min - overflow + (gauge.config.max - gauge.config.min + overflow * 2) * Math.random();
    }

    function initialize() {
        createGauges();
        setInterval(updateGauges, 5000);
    }

</script>
		

