<div class="page-bar">
	<ol class="breadcrumb">
		<li>
			<a href="" ui-sref="dashboard">首页</a>
		</li>
		<li>
			<a href="" ui-sref="monitor.thumb">主控制台</a>
		</li>

	</ol>
</div>


		<div class="runtime_container page_content">
			<div class="runtime_header">
				<div class="float_left">
					<b>
						6666666
					</b>
					<span>
						6666666
					</span>
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
				</div>
				<div class="float_right">
					<a ui-sref-active="active" ng-class="{active:isActiveTag(runtime.dashboard)}" ui-sref=".dashboard" class="btn btn-sm btn-default" href="" role="button">动画监测</a>
					<a ui-sref-active="active" ng-class="{active:isActiveTag(runtime.stats)}" ui-sref=".stats" class="btn btn-sm btn-default" href="" role="button">运行参数</a>
					<a ui-sref-active="active" ng-class="{active:isActiveTag(runtime.historydata)}" ui-sref=".historydata" class="btn btn-default btn-sm" href="#" role="button">历史数据</a>
					<a ui-sref-active="active" ng-class="{active:isActiveTag(runtime.alarm)}" ui-sref=".alarm" class="btn btn-default btn-sm" href="" role="button">锅炉警告</a>
					<a ui-sref-active="active" ng-class="{active:isActiveTag(runtime.maintain)}" ui-sref=".maintain"  class="btn btn-default btn-sm" href="" role="button">维保记录</a>
					<a class="btn btn-default btn-sm" href="" role="button">...</a>
				</div>
			</div>
			<div class="flash_view portlet-body">
				<div ui-view class="profile-content fade-in-up"></div>
			</div>
		</div>
		
		<script src="../js/lib/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/serial.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/pie.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/themes/light.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/lang/zh.js" type="text/javascript"></script>		
		
<script type="text/javascript" src="../js/lib/d3/d3.v4.js"></script>
<script type="text/javascript" src="../js/test/gauge.js"></script>

<script>
    var gauges = [];
    function createGauge(name, label, min, max) {
        var config = {
            size: 120,
            label: label,
            min: undefined != min ? min : 0,
            max: undefined != max ? max : 100,
            minorTicks: 5
        };

        var range = config.max - config.min;
        config.yellowZones = [{from: config.min + range * 0.75, to: config.min + range * 0.9}];
        config.redZones = [{from: config.min + range * 0.9, to: config.max}];

        gauges[name] = new Gauge(name + "GaugeContainer", config);
        gauges[name].render();
    }

    function createGauges() {

        createGauge("memory", "Memory");
        createGauge("cpu", "CPU");
        createGauge("network", "Network");
        createGauge("test", "Test", -50, 50 );
    }

    function updateGauges() {
        for (var key in gauges) {
            var value = getRandomValue(gauges[key]);
            gauges[key].redraw(value);
        }
    }

    function getRandomValue(gauge) {
        var overflow = 0; //10;
        return gauge.config.min - overflow + (gauge.config.max - gauge.config.min + overflow * 2) * Math.random();
    }

    function initialize() {
        createGauges();
        setInterval(updateGauges, 5000);
    }

</script>
		

