<div class="">
	<style type="text/css">
		.portlet-chart .portlet.light.portlet-fit>.portlet-title {
			padding: 4px 8px;
			min-height: 16px;
			margin-bottom: 4px;
		}
		
		.portlet-chart .portlet.light>.portlet-title>.caption {
			padding: 0;
		}
		
		.portlet-chart .portlet.light>.portlet-title>.tools {
			padding: 4px 0 0;
		}
		
		.portlet-chart .portlet.light>.portlet-title>.caption>.caption-subject {
			font-size: 11px;
		}
		
		.portlet-chart .portlet.light.portlet-fit>.portlet-body {
			padding: 0 8px 4px;
		}
		
		.portlet-chart .portlet {
			margin-bottom: 10px;
		}
		
		.portlet-state.col-md-4,
		.portlet-chart .col-md-4,
		.portlet-chart .col-md-6,
		.portlet-chart .col-md-8,
		.portlet-chart .col-md-12 {
			padding-left: 0;
			padding-right: 8px;
		}
		
		.portlet-chart .caption-subject {
			margin-left: 12px;
		}
		
		div.portlet-chart {
			padding-left: 0;
			padding-right: 0;
		}
		
		.portlet-chart .row {
			margin-left: 0;
			margin-right: 0;
		}
		
		.portlet-chart .chart-body {
			/*width: 100%;*/
			height: 233px;
		}
		
		.portlet-chart .portlet.portlet-fullscreen {
			min-height: 480px;
		}
		
		.portlet-chart .portlet.portlet-fullscreen.light>.portlet-title>.caption>.caption-subject {
			font-size: 16px;
		}
		
		.portlet-chart .portlet.portlet-fullscreen.light>.portlet-title>.caption {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		
		.portlet-chart .portlet.portlet-fullscreen.light>.portlet-title>.tools {
			padding: 4px 0 0;
		}
		
		.portlet-chart .portlet-fullscreen .chart-body {
			min-height: 440px;
		}
		
		.portlet-chart .portlet.light>.portlet-title>.fullscreen-only {
			display: none;
		}
		
		.portlet-chart .portlet.portlet-fullscreen.light>.portlet-title>.fullscreen-only {
			display: inline-block;
		}
		
		.portlet-chart .portlet.light>.portlet-title>.fullscreen-hide {
			display: inline-block;
		}
		
		.portlet-chart .portlet.portlet-fullscreen.light>.portlet-title>.fullscreen-hide {
			display: none;
		}
	</style>

	<div class="row">
		<div class="col-md-4  portlet-state">
			<!-- BEGIN SAMPLE TABLE PORTLET-->
			<!--<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-bar-chart-o font-green"></i>
						<span class="caption-subject font-green bold uppercase">运行时参数</span>
					</div>
					<div class="actions">
						<h6 class="font-grey-salsa">
				                        采样时间: {{ runtime.instants[0].date | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}				                       
				        </h6>
					</div>
				</div>

				<div class="portlet-body">
					<div class="table-scrollable table-scrollable-borderless">
						<table class="table table-hover table-light">
							<thead>
								<tr>
									<th>测量项目</th>
									<th>测量值</th>
									<th>单位</th>
									<th>状态</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="d in runtime.instants">
									<td> {{d.name}} </td>
									<td> {{d.value}} </td>
									<td> {{d.unit}} </td>
									<td>
										<span ng-class="['label', 'label-sm', {'label-success': d.alarmLevel == 0}, {'label-default': d.alarmLevel == -1}, {'label-warning': d.alarmLevel == 1}, {'label-danger': d.alarmLevel == 2}]">{{d.alarmDesc}}</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>-->
			<!-- END SAMPLE TABLE PORTLET-->
			<!-- BEGIN BORDERED TABLE PORTLET-->
			<div class="portlet light portlet-fit bordered">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-info-circle font-blue"></i>
						<span class="caption-subject font-blue sbold uppercase">基本信息</span>
					</div>
					<div class="actions">
						<a ui-sref="runtime.info({boiler: runtime.boiler.Uid, from: 'runtime'})" class="btn green btn-outline btn-block">
							<i class="fa fa-book"></i> 查看详情
						</a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-scrollable table-scrollable-borderless">
						<table class="table table-hover table-light">
							<tbody>
								<tr>
									<td width="30%">注册码</th>
										<td>{{data[0].registrationCode}}</td>
								</tr>
								<tr>
									<td>锅炉型号</th>
										<td>{{data[0].model}}</td>
								</tr>
								<tr>
									<td>锅炉燃料</th>
										<td>
											<i ng-show="runtime.boiler.Fuel.Type.TypeId == 1" class="fa fa-cubes font-grey-cascade"></i>
											<i ng-show="runtime.boiler.Fuel.Type.TypeId == 2" class="fa fa-tint font-grey-gallery"></i>
											<i ng-show="runtime.boiler.Fuel.Type.TypeId == 3" class="fa fa-database font-blue-soft"></i>
											<i ng-show="runtime.boiler.Fuel.Type.TypeId == 4" class="fa fa-leaf font-green-jungle"></i>
											<i ng-show="runtime.boiler.Fuel.Type.TypeId > 4" class="fa fa-sun-o font-grey"></i> {{ runtime.boiler.Fuel.Name }}
										</td>
								</tr>
								<tr>
									<td>生产厂家</th>
										<td>{{data[0].company}}</td>
								</tr>
								<tr>
									<td>使用企业</th>
										<td>{{ runtime.boiler.Enterprise.Name }}</td>
								</tr>
								<tr>
									<td>额定蒸发量</th>
										<td>{{ runtime.boiler.EvaporatingCapacity }} t/h</td>
								</tr>
								<tr>
									<td>对应终端</th>
										<td>{{ runtime.boiler.Terminal.Name }} [机组{{ runtime.boiler.TerminalSetId }}]</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- END BORDERED TABLE PORTLET-->
		</div>

		<div class="portlet-chart col-md-8">
			
			<div class="row">
	            <div class="col-md-12">
	                <chart-dynamic></chart-dynamic>
	            </div>
	        </div>
	        
			<div class="row">
				<div class="col-md-6">
					<chart-temperature></chart-temperature>
				</div>
				<div class="col-md-6">
					<chart-smoke-components></chart-smoke-components>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<chart-steam></chart-steam>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<chart-excess-air></chart-excess-air>
				</div>
				<div class="col-md-6">
					<chart-heat></chart-heat>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<chart-heat-month></chart-heat-month>
				</div>
			</div>

		</div>
	</div>
</div>

