<div class="page-bar">
	<ol class="breadcrumb">
		<li>
			<a href="" ui-sref="dashboard">首页</a>
		</li>
		<li>
			<a href="" >告警信息</a>
		</li>

	</ol>
</div>

<div ng-controller="alarmInfoController" class="alarm_info page_content full">
	<div class="maintain_body portlet light bordered">	
		<div class="data_header portlet-title clearfix">			
				<h4 class="float_left">
					<i class="fa fa-cog"></i>
					告警列表
				</h4>
				<div class="tools">
					<a href="" class="fullscreen" data-original-title="全屏查看"> </a>
				</div>								
		</div>
		
		<div class="portlet-body">
			<datatable-alarm></datatable-alarm>	
		</div>
		
	</div>
</div>

<script src="../js/lib/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/serial.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/pie.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/themes/light.js" type="text/javascript"></script>
        <script src="../js/lib/amcharts/lang/zh.js" type="text/javascript"></script>	
