<div class="page-bar">
	<ol class="breadcrumb">
		<li>
			<a href="" ui-sref="dashboard">首页</a>
		</li>
		<li>
			<a href="" >告警信息</a>
		</li>

	</ol>
</div>

<div ng-controller="alarmInfoController" class="alarm_info page_content">
	<div class="maintain_body">	
	<div class="data_header">
		<div class="clearfix data_top">
			<h4 class="float_left">
				<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
				告警列表
			</h4>
			<div class="float_right">
				<span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
			</div>
		</div>
		
	</div>
	
		<datatable-alarm></datatable-alarm>
		
	
	
	</div>
</div>