<div class="page-bar">
	<ol class="breadcrumb">
		<li>
			<a href="" ui-sref="dashboard">首页</a>
		</li>
		<li>
			<a href="">维保记录</a>
		</li>

	</ol>
</div>

<div ng-controller="BoilerMaintainController" class=" page_content">
	<div class="portlet light bordered">
	
	<div class="data_header clearfix portlet-title">		
		<h4 class="float_left">
			<i class="fa fa-cog"></i>
			记录列表
		</h4>
		<div class="tools ">
			<a href="" class="fullscreen" data-original-title="全屏查看"> </a>
		</div>
	
	</div>
	
	<div class="maintain_body">
		<datatable-maintain></datatable-maintain>							
	</div>
	
		
	</div>
	
</div>
