<div class="page-bar">
	<ol class="breadcrumb">
		<li>
			<a href="" ui-sref="dashboard">首页</a>
		</li>
		<li>
			<a href="" >参数管理</a>
		</li>
		<li>
			<a href="" >运行时参数</a>
		</li>

	</ol>
</div>

<div ng-controller="configParamController" class="page_content">
		<div class="data_header">
			<div class="clearfix data_top">
				<h4 class="float_left">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					参数列表
				</h4>
				<div class="float_right">
					<span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
				</div>
				
				
			</div>

			<div class="data_nav_h">
				<nav>
					<div class="container-fluid">
						<!--select pageSize-->
						<div class="dropdown pagesize">

							每页显示
							<select class="input-sm  w-sm inline v-middle" ng-model="pageSize" ng-options="o as o for o in placement.options" ng-change="setPageSize(pageSize)">
							</select>
							条
						</div>

						<!--<button ng-click="openAddModal()" type="button" class="btn btn-info" style="margin-left: 20px; margin-top: 8px;">
							添加
						</button>-->

						
							
						<!--search-->
						<form class="navbar-form navbar-right">
							<div class="form-group">
								搜索：
								<input type="text" ng-model="search" class="form-control" placeholder="Search">
							</div>

						</form>
					</div>
				</nav>
			</div>

		</div>

		<div class="maintain_body">
				
			<div class="">			
				<table class="table" border="0" >
						<thead>
							<tr>
								<th ng-click="changeOrder('id')" ng-class="{dropup:order===''}">
									参数代码
									<span ng-class="{orderColor:orderType==='id'}" class="caret"></span>
								</th>
								<th>
									参数名称
								</th>
								<th>
									单位
								</th>
								<th>
									长度
								</th>
								<th>
									使用锅炉
								</th>
								<th>
									备注
								</th>
								
								
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="d in configparamData.datasource | orderBy: order+orderType| range:selectedpage:pageSize">
								<td>
									{{d.id}}
									
								</td>
								<td>
									{{d.name}}
								</td>
								<td>
									{{d.Scale + d.Unit}}
								</td>
								
								<td>
									{{d.Length}}
								</td>
								<td>
									<span ng-repeat="medium in d.BoilerMediums"
										ng-class="{'label-default':medium.name=='默认','label-info':medium.name=='蒸汽','label-primary':medium.name=='热水'}"
										class="label">
										{{medium.name}}
									</span>
									
								</td>																
								<td>
			                        {{d.Remark}}
			                    </td>
							</tr>
						</tbody>
						
					</table>
					<p ng-show="!configparamData.datasource.length">记录为空</p>
									
			</div>


		
		
		<!--pagination-->									
		
		<div >			
	        <div class="float_left count_num">
				共{{totalItems}} 条记录
			</div>
	         <div class="pagination">       	       	
	            <ul uib-pagination boundary-links="true" total-items="totalItems"
	                        ng-model="selectedpage"  ng-change="setPageSize(pageSize)"
	                        items-per-page="pageSize"
	                        max-size="maxSize"  num-pages="totalPage"
	                        previous-text="上一页" next-text="下一页"
	                        first-text="首页" last-text="尾页">
	            </ul>
	         </div>
	    </div>
			
		</div>
	
	
	</div>


