<div class="page-bar">
	<ol class="page-breadcrumb">
		<li>
			<a ui-sref="monitor.dashboard">主页</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a ui-sref="account">参数管理</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a ui-sref="config-runtime-parameter">运行时参数</a>
		</li>
	</ol>
</div>

<div ng-controller="configParamController" class="page_content">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption font-dark">
						<i class="fa fa-cog"></i>
						<span class="caption-subject bold uppercase"> 参数列表</span>
					</div>
					<div class="tools">
						<a href="" class="fullscreen" data-original-title="全屏查看"> </a>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-toolbar">
						<div class="row">
							<div class="col-md-6">
								<!--select pageSize-->
								<div class="dropdown pagesize">
									每页显示
									<select class="input-sm w-sm inline v-middle" ng-model="pageSize" ng-options="o as o for o in placement.options" ng-change="setPageSize(pageSize)">
									</select>
									条
								</div>

								<!--<button ng-click="openAddModal()" type="button" class="btn btn-info" style="margin-left: 20px; margin-top: 8px;">
									添加
								</button>-->
							</div>
							<div class="col-md-6">
								<!--search-->
								<form class="navbar-form navbar-right">
									<div class="form-group">
										搜索：
										<input type="text" ng-model="search" class="form-control" placeholder="Search">
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="">
						<table class="table table-striped table-bordered table-hover table-checkable order-column table-boiler">
							<thead>
								<tr>
									<th ng-click="changeOrder('Id')" ng-class="{dropup:order===''}">
										参数代码
										<span ng-class="{orderColor:orderType==='Id'}" class="caret"></span>
									</th>
									<th>
										参数名称
									</th>
									<th>
										单位
									</th>
									<th>
										长度
									</th>
									<th>
										使用锅炉
									</th>
									<th>
										备注
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="d in configparamData.datasource | orderBy: order+orderType| range:selectedpage:pageSize">
									<td>
										{{d.Id}}

									</td>
									<td>
										{{d.name}}
									</td>
									<td>
										{{d.Scale + d.Unit}}
									</td>

									<td>
										{{d.Length}}
									</td>
									<td>
										<span ng-repeat="medium in d.BoilerMediums" 
											ng-class="['label', {'label-default': medium.Id == 0}, {'label-success': medium.Id == 1}, {'label-primary': medium.Id == 2}, {'label-info': medium.Id == 4}, {'label-warning': medium.Id == 5}]" 
											style="margin-right: 4px;">
										{{medium.Name}}
									</span>

									</td>
									<td>
										{{d.Remark}}
									</td>
								</tr>
							</tbody>

						</table>
						<p ng-show="!configparamData.datasource.length">记录为空</p>
					</div>
					<!--pagination-->
					<div>
						<div class="float_left count_num">
							共{{totalItems}} 条记录
						</div>
						<div class="pagination">
							<ul uib-pagination boundary-links="true" total-items="totalItems" boundary-link-numbers="true"
		                        ng-model="selectedpage"  ng-change="setPageSize(pageSize)"                        
		                        items-per-page="pageSize"
		                        max-size="maxSize"  num-pages="totalPage"
		                        previous-text="上一页" next-text="下一页"
		                        first-text="首页" last-text="尾页">
		            		</ul> 
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>