<div class="page-bar">
	<ol class="breadcrumb">
		<li>
			<a href="" ui-sref="dashboard">首页</a>
		</li>
		<li>
			<a href="" >专家咨询</a>
		</li>

	</ol>
</div>

<div ng-controller="dialogueController" class="advisory page_content">
	
	<div class="data_header">
		<div class="clearfix data_top">
			<h4 class="float_left">
				<i class="fa fa-cog"></i>
				咨询列表
			</h4>
			<div class="float_right full_screen fa fa-expand"></div>
			
		</div>						
	</div>
	
	<div class="maintain_body">
		
		<div class="data_nav_h">
			<nav>
				<div class="container-fluid">
					<!--select pageSize-->
					<div class="dropdown pagesize">
						
						每页显示
					<select class="input-sm  w-sm inline v-middle"
                        ng-model="pageSize" 
                        ng-options="o as o for o in placement.options"
                        ng-change="setPageSize(pageSize)">
	               </select>
	               	条
						
					</div>
			
					<button style="margin-left: 20px; margin-top: 8px;" ng-click="openNew()" type="button" class="btn btn-info">						
						添加
						<i class="fa fa-plus"></i>
					</button>
			
					<script type="text/ng-template" id="advisory.html">
						<div>
							<div class="modal-header">
								<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">开始咨询	</h4>			
							</div>
							<div class="modal-body">
								<form action="" method="post">
									<div class="form-group">
										<label>咨询标题：</label>
										<input ng-model="data.title" class="form-control" type="text" name="" id="" value="" placeholder="咨询标题" />
									</div>
									<div class="form-group">
										<label>咨询内容：</label>
										<textarea ng-model="data.content" class="form-control" name="" rows="5" cols="" placeholder="在这里输入内容"></textarea>
									</div>
									
								</form>
							</div>
							<div class="modal-footer">
			
								<button class="btn btn-primary" ng-click="ok()">
								                提交
								 </button>
								<button class="btn btn-default" ng-click="cancel()">
								                取消
								</button>
							</div>
						</div>
					</script>
			
					<!--search-->
					<form class="navbar-form navbar-right">
						<div class="form-group">
							搜索：
							<input type="text" ng-model="search" class="form-control" placeholder="Search">
			
						</div>
			
					</form>
				</div>
			</nav>
		</div>
	
	
		
		<datatable-advisory></datatable-advisory>
		
		
		<!--pagination-->
	
		
		<div >			
	        <div class="float_left count_num">
				共{{totalItems}} 条记录
			</div>
	         <div class="pagination">       	       	
	            <ul uib-pagination boundary-links="true" total-items="totalItems"
	                        ng-model="selectedpage"  ng-change="setPageSize(pageSize)"
	                        items-per-page="pageSize"
	                        max-size="maxSize"  num-pages="totalPage"
	                        previous-text="上一页" next-text="下一页"
	                        first-text="首页" last-text="尾页">
	            </ul>
	         </div>
	    </div>
			
		</div>
	
	
	
</div>






