<div class="page-bar">
	<ol class="breadcrumb">
		<li>
			<a href="" ui-sref="dashboard">首页</a>
		</li>
		<li>
			<a href="">维保记录</a>
		</li>

	</ol>
</div>

<div ng-controller="maintainInfoController" class=" page_content">
	<div  class="">
	
	<div class="data_header">
		<div class="clearfix data_top">
			<h4 class="float_left">
				<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
				记录列表
			</h4>
			<div class="float_right">
				<span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
			</div>
		</div>
				
		
	
	</div>
	
	<div class="maintain_body">
		<datatable-maintain></datatable-maintain>							
	</div>
	
		
	</div>
	
</div>
