
						<div>
							<div class="modal-header">
								<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">维保记录编辑	</h4>
			
							</div>
							<div class="modal-body">
								<form action="" method="post">
									<div class="row">
										<div class="form-group col-md-6">
											<label>维保日期：</label>
											<input ng-model="data.time" class="form-control" type="text" name="" id="" value="" placeholder="咨询标题" />
										</div>
										<div class="form-group col-md-6">
											<label>维保锅炉：</label>
											<input ng-model="data.company" class="form-control" type="text" name="" id="" value="" placeholder="咨询标题" />
										</div>
									</div>
									<div class="row">
										
										<div class="form-group col-md-4">
											<label>燃烧器冷却水温度是否过高</label>
											<div class="btn-group">
									             <label class="btn btn-success">正常</label>
									             <label class="btn btn-default">过低</label>
									             <label class="btn btn-default">过高</label>
									        </div>
										</div>
										
										<div class="form-group col-md-4">
											<label>燃烧器炉膛耐火砖是否有脱落</label>
											<div class="btn-group">
									             <label class="btn btn-success">无脱落</label>								             
									             <label class="btn btn-default">有脱落</label>
									        </div>
										</div>
										
										<div class="form-group col-md-4">
											<label>燃烧器火口是否有变形</label>
											<div class="btn-group">
									             <label class="btn btn-success">无变形</label>
									             <label class="btn btn-default">有变形</label>
									        </div>
										</div>
										
									</div>
									
									<div class="row">
										
										<div class="form-group col-md-4">
											<label>进料蛟龙运转是否有异响</label>
											<div class="btn-group">
									             <label class="btn btn-success">无异响</label>
									             <label class="btn btn-default">有异响</label>
									        </div>
										</div>
										
										<div class="form-group col-md-4">
											<label>鼓风机转动是否有异响</label>
											<div class="btn-group">
									             <label class="btn btn-success">无异响</label>								             
									             <label class="btn btn-default">有异响</label>
									        </div>
										</div>
										
										<div class="form-group col-md-4">
											<label>风料连锁控制情况是否正常</label>
											<div class="btn-group">
									             <label class="btn btn-success">正常</label>
									             <label class="btn btn-default">异常</label>
									        </div>
										</div>
										
									</div>
									
									<div class="row">
										
										<div class="form-group col-md-4">
											<label>燃烧器差压传感器是否稳定</label>
											<div class="btn-group">
									             <label class="btn btn-success">很稳定</label>
									             <label class="btn btn-default">不稳定</label>
									        </div>
										</div>
										
										
										
									</div>
									<div class="row">
										<div class="btn-group col-md-12">
									             <label class="btn btn-primary">燃烧器</label>
									             <label class="btn btn-default">进料及炉排</label>
									             <label class="btn btn-default">软水器</label>
									             <label class="btn btn-default">水泵</label>
									             <label class="btn btn-default">锅炉本体</label>
									             <label class="btn btn-default">节能器</label>
									             <label class="btn btn-default">节能器</label>
									             <label class="btn btn-default">节能器</label>
									             <label class="btn btn-default">节能器</label>
									        </div>
									</div>
									
									<div class="row">
										<div class="form-group col-md-12" style="margin-top: 10px;">
											<label>记录摘要：</label>
											<textarea class="form-control" name="" rows="3" cols="" placeholder="记录摘要"> </textarea>
										</div>
										
									</div>
									
								</form>
							</div>
							<div class="modal-footer">
			
								<button class="btn btn-primary" ng-click="ok()">
								                提交
								 </button>
								<button class="btn btn-default" ng-click="cancel()">
								                取消
								</button>
							</div>
						</div>
			
	
