<div >
	<div class="nav nav-stacked " >
		<ul class="">
							<li>
								主控制台
							</li>
							<li ui-sref-active="active" ng-class="{active:isActiveTag('dashboard')}">
								<a href="" ui-sref="dashboard">
									<span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
									能效统计
								</a>
							</li>
							<li ui-sref-active="active" ng-class="{active:isActiveTag('monitor')}">
								<a href="" ui-sref="monitor.thumb">
									<span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
									设备概览
								</a>
							</li>
							<li>
								常用功能
							</li>
							<li ui-sref-active="active" ng-class="{active:isActiveTag('alarm-info')}">
								<a href="" ui-sref="alarm-info">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									告警信息	
									<span class="badge badge-danger">14</span>
								</a>
								
							</li>
							<li ui-sref-active="active" ng-class="{active:isActiveTag('advisory')}">
								<a href="" ui-sref="advisory">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
									专家咨询
								</a>
							</li>
							<li ui-sref-active="active" ng-class="{active:isActiveTag('maintain-info')}">
								<a href="" ui-sref="maintain-info">
									<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
									维保记录
								</a>
							</li>
							<li>
								信息维护
							</li>
							<li ui-sref-active="active" ng-class="{active:isActiveTag('organization')}">
								<a href="" ui-sref="organization">
									<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
									企业信息
								</a>
							</li>
							<li ui-sref-active="active" ng-class="{active:isActiveTag('boiler')}">
								<a href="" ui-sref="boiler">
									<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
									锅炉信息
								</a>
							</li>
							<li ui-sref-active="active" ng-class="{active:isActiveTag('terminal')}">
								<a href="" ui-sref="terminal">
									<span class="glyphicon glyphicon-console" aria-hidden="true"></span>
									终端管理
								</a>
							</li>
							<li>
								系统设置
							</li>
							<li ui-sref-active="active" ng-class="{active:isActiveTag('config-runtime-alarm')}">
								<a href="" ui-sref="config-runtime-alarm">
									<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
									告警规则
								</a>
							</li>
							<li ui-sref-active="active" ng-class="{active:isActiveTag('config-runtime-parameter')}">
								<a href="" ui-sref="config-runtime-parameter">
									<span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
									运行参数
								</a>
							</li>
							<li>
								<a href="">
									<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
									账号管理
								</a>
							</li>
							<li ui-sref-active="active" ng-class="{active:isActiveTag('profile')}">
								<a href="" ui-sref="profile">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
									用户信息
								</a>
							</li>
							<li>
								<a href="">
									<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
									系统帮助
								</a>
							</li>
							
						</ul>
		
</div>		
</div>
	