<div ng-controller="productList"  class="" >

									<nav>
									  <div class="container-fluid">	
									  	<!--select pageSize-->
									  	<div class="dropdown pagesize">
									  		每页显示
									  		<select ng-change="p_size(n,productData)"  ng-model="n">
												<option value="5">5</option>
												<option value="10">10</option>
												<option value="15">15</option>
											</select>条
										  <!--<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
										    {{itemsPerPage}} 
										    <span class="caret"></span>
										  </button>
										 	 条
										  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
										    <li><a ng-click="p_size(5,productData)">5</a></li>
										    <li><a ng-click="p_size(10,productData)">10</a></li>
										    <li><a ng-click="p_size(20,productData)">20</a></li>
										   
										  </ul>-->
										</div>
										
										<!--search-->
									      <form class="navbar-form navbar-right">
									        <div class="form-group">
									        	搜索：
									          <input type="text" ng-model="search" class="form-control" placeholder="Search">
									          
									        </div>
									       
									      </form>				    
									  </div>
									</nav>
									
									<!--list-->
									<table class="table" border="1" bordercolor="#dddddd" cellspacing="" cellpadding="">
										<thead>
											<tr>
												<th ng-click="changeOrder('num')" ng-class="{dropup:order===''}">
													序号
													<span ng-class="{orderColor:orderType==='num'}" class="caret"></span>
												</th>
												<th ng-click="changeOrder('name')" ng-class="{dropup:order===''}">
													锅炉名称
													<span ng-class="{orderColor:orderType==='name'}"class="caret"></span>
												</th>
												<th ng-click="changeOrder('company')" ng-class="{dropup:order===''}">
													制造企业
													<span ng-class="{orderColor:orderType==='company'}"class="caret"></span>
												</th>
												<th ng-click="changeOrder('registrationCode')" ng-class="{dropup:order===''}">
													注册码
													<span ng-class="{orderColor:orderType==='registrationCode'}"class="caret"></span>
												</th>
												<th ng-click="changeOrder('model')" ng-class="{dropup:order===''}">
													型号
													<span ng-class="{orderColor:orderType==='model'}"class="caret"></span>
												</th>
												<th ng-click="changeOrder('state')" ng-class="{dropup:order===''}">
													状态
													<span ng-class="{orderColor:orderType==='state'}"class="caret"></span>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="product in productDataList | filter:search | orderBy: order+orderType | filter: selectedSite ">
												
												<td>
													{{product.num}}
												</td>
												<td>
													{{product.name}}
												</td>
												<td>
													{{product.company}}
												</td>
												<td>
													{{product.registrationCode}}
												</td>
												<td>
													{{product.model}}
												</td>
												<td>
													{{product.state}}
												</td>
											</tr>
											
										</tbody>
										
									</table>
									<p ng-show="!productData.length">记录为空</p>
									
										
									<!--pagination-->
									<nav aria-label="Page navigation">
										<div class="float_left count_num">
											共{{count}}条记录
										</div>
									  <ul class="pagination">
									  	<li>
									      <a ng-click="p_index()">
									        <span aria-hidden="true">首页</span>
									      </a>
									    </li>
									    <li>
									      <a ng-click="Previous()">
									        <span  aria-hidden="true">上一页</span>
									      </a>
									    </li>
									    <li ng-repeat="page in pageList"  ng-class="{active:isActivePage(page)}">
									    	<a ng-click="selectPage(page)">
									    		{{page}} 
									    	</a>
									    </li>
									    
									    <li>
									      <a ng-click="Next()">
									        <span aria-hidden="true">下一页</span>
									      </a>
									    </li>
									    <li>
									      <a ng-click="p_last()">
									        <span aria-hidden="true">尾页</span>
									      </a>
									    </li>
									  </ul>
									</nav>
									
									
</div>									
									
									
									
									
							
							