<div class="">

	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">添加新用户	</h4>

	</div>
	<div class="modal-body">
		<form action="" method="post">
			<div class="row">
				<div class="col-md-6 form-group">
					<div class="input-group">
						<label class="input-group-addon">登录名</label>
						<input ng-model="data.username" type="text" 
							maxlength="16"
							class="form-control" 
							placeholder="请输入用户登录名" required>
					</div>
				</div>

				<div class="col-md-6 form-group">
					<div class="input-group">
						<label class="input-group-addon">登录密码</label>
						<input type="password" ng-model="data.password"
                       maxlength="16"
                       class="form-control"
                       placeholder="请输入初始密码" required>
					</div>
				</div>
			</div>

			<hr style="margin-bottom: 18px;"/>
			<div class="row">
				<div class="col-md-6 form-group">
					<div class="input-group">
						<label class="input-group-addon" id="basic-addon1">真实名称</label>
						<input type="text" ng-model="data.fullname"
                       class="form-control"
                       placeholder="请输入用户真实名称">
					</div>
				</div>

				<div class="col-md-6 form-group">
					<div class="input-group ">
						<label class="input-group-addon">用户角色</label>
						<select ng-model="$modal.data.role"
                        ng-options="role.id as role.name for role in $modal.roles" class="form-control">
						</select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 form-group">
					<div class="input-group">
						<label class="input-group-addon">所属企业</label>
						<ui-select ng-model="data.org"
		                           ng-disabled="data.role < 10 || data.role >= 20"
		                           theme="bootstrap">
		                    <ui-select-match placeholder="输入企业名称或在列表中选择...">{{$select.selected.name}}</ui-select-match>
		                    <ui-select-choices group-by="'type'" repeat="org.Uid as org in organizations | filter: $select.search">
		                        <span ng-bind-html="org.name | highlight: $select.search"></span>
		                    </ui-select-choices>
		                </ui-select>
					</div>
				</div>
			</div>

		</form>
	</div>
	<div class="modal-footer">

		<button class="btn btn-primary" ng-click="ok()">
									                提交
									 </button>
		<button class="btn btn-default" ng-click="cancel()">
									                取消
									</button>
	</div>

</div>