

<div>
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    	<h3 class="modal-title" id="modal-title" style="display: inline-block;">终端配置</h3>
		<span class="ticket-id bold font-blue font-lg" style="display: inline-block;">#{{data.code}}</span>
	</div>
	<div class="modal-body">
		<form action="" method="post">			
			<div class="row">
				<div class="form-group col-md-6">
					<div class="input-group">
						<label class="input-group-addon">终端名称</label>
						<input ng-model="data.Name" type="text" 
							maxlength="16"							 
							ng-disabled="!$modal.editing"
							class="form-control"							
							placeholder="请输入终端名称" required>
					</div>
				</div>

				<div class="form-group col-md-6">
					<div class="input-group">
						<label class="input-group-addon">终端编码</label>
						<input ng-model="data.code" type="text" class="form-control" 
							placeholder="输入终端编码" required>
					</div>
				</div>
			
				<div class="form-group col-md-6">
					<div class="input-group">
						<label class="input-group-addon">物联网卡号</label>
						<input ng-model="data.simNum" type="text" class="form-control" 
							placeholder="输入十一位卡号" required>
					</div>
				</div>
				<div class="form-group col-md-6">
					<div class="input-group">
						<label class="input-group-addon">IP地址</label>
						<input ng-model="data.ip" type="text" class="form-control" 
							placeholder="0.0.0.0" required>
					</div>
				</div>
			</div>
			
			<div class="">
					<hr />
					<div class="row">
						<div class="form-group form-selector col-md-6">
							<div class="input-group">
								<label class="input-group-addon">上报周期</label>
								<span class="unit">秒</span>
								<input ng-model="data.simNum" type="text" class="form-control" 
									placeholder="45" >
							</div>
						</div>
						<div class="form-group form-selector col-md-6">
							<div class="input-group">
								<label class="" style="margin-right: 12px;">终端启闭</label>
								<label class="switch switch-lg">
							        <input type="checkbox" checked="checked">
							       <span></span>
							    </label>
							</div>
						</div>
						
					</div>
					
					<hr>
					<div class="row">
						<div ng-repeat="set in data.Boilers"  class="form-group col-md-6">
							<div class="input-group">
								 <span class="input-group-addon">机组{{ set.num }}</span>
				                    <a ng-show="$modal.editing && set.num <= ($modal.deviceCount + 1)"
				                       ng-click="$modal.bindSet(set)"
				                       class="addon btn btn-outline btn-circle"
				                       ng-class="[{'green': !set.hasDev && set.num == $modal.deviceCount + 1}, {'red': set.hasDev}]">
				                        <i ng-class="['fa', {'fa-plus': !set.hasDev}, {'fa-minus': set.hasDev}]"></i>
				                    </a>
				                    <input type="text" ng-model="set.Name" ng-disabled="true"
				                           class="form-control "
				                           placeholder="">
							</div>
						</div>
						
				
					</div>
					
				</div>
			
			
			
			
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn yellow-crusta" type="button"  ng-click="$modal.reboot()" style="float: left">
			重新启动
		</button>
		<button class="btn btn-danger" ng-click="">
			删除
		</button>
		<button class="btn btn-primary" 
			ng-click="ok()">
			提交
		</button>
		<button class="btn btn-default" ng-click="cancel()">
			取消
		</button>
	</div>
</div>