<div class="">
	
	<div class="data_nav_h">
			<nav>
				<div class="container-fluid">
					<!--select pageSize-->
					<div class="dropdown pagesize">
						每页显示
						<select class="input-sm  w-sm inline v-middle"
	                        ng-model="pageSize" 
	                        ng-options="o as o for o in placement.options"
	                        ng-change="setPageSize(pageSize)">
		               </select>
		               	条
						
						<!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							{{pageSize}}
							<span class="caret"></span>
						</button> 条
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li>
								<a ng-click="selectedPageSize(maintainInfo,5)">5</a>
							</li>
							<li>
								<a ng-click="selectedPageSize(maintainInfo,10)">10</a>
							</li>
							<li>
								<a ng-click="selectedPageSize(maintainInfo,20)">20</a>
							</li>
			
						</ul>-->
					</div>
			
					<button style="margin-left: 20px; margin-top: 8px;" ng-click="addOpenModal()" type="button" class="btn btn-info">添加</button>
			
							
					<!--search-->
					<form class="navbar-form navbar-right">
						<div class="form-group">
							搜索：
							<input type="text" ng-model="search" class="form-control" placeholder="Search">
			
						</div>
			
					</form>
				</div>
			</nav>
		</div>
	
	
	
	<table class="table" border="0" >
			<thead>
				<tr>
					<th>
						序号
					</th>
					<th>
						维保锅炉
					</th>
					<th>
						维保日期 
					</th>
					<th>
						维保人员
					</th>
					<th>
						维保状态
					</th>
					<th>
						简述
					</th>
					<th>
						操作
					</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="d in maintainInfo">
					<td>
						{{d.num}}
					</td>
					<td>
						{{d.company}}
					</td>
					<td>
						{{d.time}}
					</td>
					<td>
						{{d.content}}
					</td>
										
					<td ng-class="{'text-primary':d.state==='已回复','text-success':d.state==='新咨询'}" >
						{{d.state}}
					</td>
					<td>
						{{d.company}}
					</td>
					
					<td>
						<button ng-click="openModal(d)" type="button" class="btn btn-primary btn-sm">编辑</button>
						<button ng-click="removeData(d.num)" type="button" class="btn btn-default btn-sm"> 删除</button>
					</td>
				</tr>
			</tbody>
			
		</table>
		<p ng-show="!maintainInfo.length">记录为空</p>
		
		
		<!--pagination-->
		<div >		
	         <div class="float_left count_num">
				共{{totalItems}} 条记录
			</div>
	         <div class="pagination">       	       	
	            <ul uib-pagination boundary-links="true" total-items="totalItems"
	                        ng-model="selectedpage"  ng-change="setPageSize(pageSize)"
	                        items-per-page="pageSize"
	                        max-size="maxSize"  num-pages="totalPage"
	                        previous-text="上一页" next-text="下一页"
	                        first-text="首页" last-text="尾页">
	            </ul>
	         </div>
	    </div>
		
		
		
									<!--<nav aria-label="Page navigation">
										<div class="float_left count_num">
											共{{count}}条记录
										</div>
									  <ul class="pagination">
									  	<li>
									      <a ng-click="p_index()">
									        <span aria-hidden="true">首页</span>
									      </a>
									    </li>
									    <li>
									      <a ng-click="Previous()">
									        <span  aria-hidden="true">上一页</span>
									      </a>
									    </li>
									    <li ng-repeat="page in pageList"  ng-class="{active:isActivePage(page)}">
									    	<a ng-click="selectPage(page)">
									    		{{page}} 
									    	</a>
									    </li>
									    
									    <li>
									      <a ng-click="Next()">
									        <span aria-hidden="true">下一页</span>
									      </a>
									    </li>
									    <li>
									      <a ng-click="p_last()">
									        <span aria-hidden="true">尾页</span>
									      </a>
									    </li>
									  </ul>
									</nav>-->
		
</div>