<!DOCTYPE html>
<html ng-app="boiler">
	<head>
		<meta charset="utf-8" />
		<title>Holder Boiler </title> 
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/font-awesome-4.7.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/components-rounded.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/global.css"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
		<script src="../js/asset/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/asset/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/asset/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/asset/ui-bootstrap-tpls-2.5.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/asset/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/asset/ocLazyLoad.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/main.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/filters/customFilter.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/directives/directives.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/controllers/productController.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/asset/highcharts.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/asset/moment/moment.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/asset/moment/lacale/zh-cn.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/asset/angular-moment/angular-moment.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://api.map.baidu.com/api?v=2.0&ak=bDCh2N15YYodpt1wns4YPC7XFynjDx60" type="text/javascript"></script>
	</head>
	<body>
		
		<div  class="">
			<!--header-->
			<div  class="navbar-fixed-top header">
				<div ng-include="'tpl/header.html'"></div>
			</div>
		
			
			<div class="container-fluid">
				<div class="row">
					
					<!--sidebar-->
					<div  class="sidebar col-xs-12 col-sm-3 col-md-2">
						<div class="sidebar_inner">
							<div class="collapse navbar-collapse" id="example-navbar-collapse">
								<div ng-include="'tpl/sidebar.html'"></div>
							</div>
						</div>
												
					</div>
					
					
					
					
					
					
					<!--main-->
					<div class="" ng-controller="productController">																		
						<div >														
							<div ui-view class="data_display col-xs-12 col-sm-9 col-md-10 animated fadeInUp"></div>						
						</div>										
					</div>
					
				</div>
			</div>			
		</div>	
		
	</body>
</html>
