<div ng-controller="advisoryController" class="advisory">
	
	<div class="data_header">
		<div class="clearfix data_top">
			<h4 class="float_left">
				<span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
				咨询列表
			</h4>
			<div class="float_right">
				<span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
			</div>
		</div>
		
		
		
						
						
		
			
		
		<div class="data_nav_h">
			<nav>
				<div ng-controller="modalController" class="container-fluid">
					<!--select pageSize-->
					<div class="dropdown pagesize">
						每页显示
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							{{itemsPerPage}}
							<span class="caret"></span>
						</button> 条
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li>
								<a ng-click="p_size(5,productData)">5</a>
							</li>
							<li>
								<a ng-click="p_size(10,productData)">10</a>
							</li>
							<li>
								<a ng-click="p_size(20,productData)">20</a>
							</li>
			
						</ul>
					</div>
			
					<button style="margin-left: 20px; margin-top: 8px;" ng-click="openModal()" type="button" class="btn btn-info">添加</button>
			
					<script type="text/ng-template" id="modal.html">
						<div>
							<div class="modal-header">
								<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">开始咨询	</h4>
			
							</div>
							<div class="modal-body">
								<form action="" method="post">
									<div class="form-group">
										<label>咨询标题：</label>
										<input class="form-control" type="text" name="" id="" value="" placeholder="咨询标题" />
									</div>
									<div class="form-group">
										<label>咨询内容：</label>
										<textarea class="form-control" name="" rows="5" cols="" placeholder="在这里输入内容"></textarea>
									</div>
									
								</form>
							</div>
							<div class="modal-footer">
			
								<button class="btn btn-primary" ng-click="ok()">
								                提交
								 </button>
								<button class="btn btn-default" ng-click="cancel()">
								                取消
								</button>
							</div>
						</div>
					</script>
			
					<!--search-->
					<form class="navbar-form navbar-right">
						<div class="form-group">
							搜索：
							<input type="text" ng-model="search" class="form-control" placeholder="Search">
			
						</div>
			
					</form>
				</div>
			</nav>
		</div>
	</div>
	
	<div class="maintain_body">
		<table class="table" border="0" >
			<thead>
				<tr>
					<th>
						序号
					</th>
					<th>
						咨询时间
					</th>
					<th>
						咨询内容 
					</th>
					<th>
						咨询企业
					</th>
					<th>
						回复状态
					</th>
					
					<th>
						操作
					</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="d in productDataList">
					<td>
						{{d.num}}
					</td>
					<td>
						{{d.time}}
					</td>
					<td>
						{{d.content}}
					</td>
					<td>
						{{d.company}}
					</td>
										
					<td ng-class="{'text-primary':d.state==='已回复','text-success':d.state==='新咨询'}" >
						{{d.state}}
					</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm">回复</button>
						<button type="button" class="btn btn-default btn-sm"> 删除</button>
					</td>
				</tr>
			</tbody>
			
		</table>
		<p ng-show="!advisory.length">记录为空</p>
		
		
		<!--pagination-->
									<nav aria-label="Page navigation">
										<div class="float_left count_num">
											共{{count}}条记录
										</div>
									  <ul class="pagination">
									  	<li>
									      <a ng-click="p_index()">
									        <span aria-hidden="true">首页</span>
									      </a>
									    </li>
									    <li>
									      <a ng-click="Previous()">
									        <span  aria-hidden="true">上一页</span>
									      </a>
									    </li>
									    <li ng-repeat="page in pageList"  ng-class="{active:isActivePage(page)}">
									    	<a ng-click="selectPage(page)">
									    		{{page}} 
									    	</a>
									    </li>
									    
									    <li>
									      <a ng-click="Next()">
									        <span aria-hidden="true">下一页</span>
									      </a>
									    </li>
									    <li>
									      <a ng-click="p_last()">
									        <span aria-hidden="true">尾页</span>
									      </a>
									    </li>
									  </ul>
									</nav>
									
	</div>
	
	
	
</div>





