<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Holder Boiler</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
		<!--<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="../js/asset/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="js/jquery.sparkline.min.js" type="text/javascript" charset="utf-8"></script>-->
		<!--<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>	-->
		<script src="https://cdn.bootcss.com/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
		<script src="../js/asset/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/asset/ocLazyLoad.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/main.js" type="text/javascript" charset="utf-8"></script>	
		<script src="../js/filters/customFilter.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/directives/directives.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/controllers/productController.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/controllers/controller.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body ng-app="boiler">
		
		<div  class="">
			<!--header-->
			<div  class="navbar-fixed-top header">
				<div ng-include="'views/header.html'"></div>
			</div>
		
			
			<div class="container-fluid">
				<div class="row">
					
					<!--sidebar-->
					<div  class="sidebar  col-xs-12 col-sm-3 col-md-2">
						<div class="collapse navbar-collapse" id="example-navbar-collapse">
							<div ng-include="'views/sidebar.html'"></div>
						</div>
						
					</div>
					
					
					
					<!--main-->
					<div class="data_display col-xs-12 col-sm-9 col-md-10" ng-controller="productController">						
												
						<div class="" >
														
							<div ui-view></div>
			
			
						</div>
					
					
					</div>
					
				</div>
			</div>
			
			
			
			
		</div>	
			
			
			
		
			
		
		
		
		
		
	</body>
</html>
