

<!--<div ng-controller="dashboardController" class="">
	<div class="page-bar">
	<ol class="breadcrumb">
		<li>
			<a href="" ui-sref="dashboard">首页</a>
		</li>
		<li>
			<a href="" ui-sref="monitor.thumb">主控制台</a>
		</li>
	</ol>
</div>-->
	
<!-- BEGIN DASHBOARD STATS -->
	<div ng-controller="dashboardController" class="dashboard_content">		
		<div class="row stat">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="dashboard-stat blue">					
					<div class="visual">
						<i class="fa fa-comments"></i>
					</div>
					<div class="details">
						<div class="number">
							{{dashboard.runtimeCount}}
						</div>
						<div class="desc">
								新增实时数据
						</div>							
					</div>									
					<a class="more" ui-sref="monitor.thumb">
							查看详情 
						<i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
					</a>									
				</div>							
			</div>
			
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="dashboard-stat red">					
					<div class="visual">
						<i class="fa fa-bar-chart-o"></i>
					</div>
					<div class="details">
						<div class="number">
							{{dashboard.alarmNum}}
						</div>
						<div class="desc">
							异常警报
						</div>							
					</div>									
					<a class="more" ui-sref="alarm">
						查看详情 
						<i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
					</a>									
				</div>							
			</div>
			
			
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="dashboard-stat green">					
					<div class="visual">
						<i class="fa fa-shopping-cart"></i>
					</div>
					<div class="details">
						<div class="number">
							{{dashboard.equipmentNum}}
						</div>
						<div class="desc">
							在用设备
						</div>							
					</div>									
					<a class="more" ui-sref="monitor.thumb">
						查看详情 
						<i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
					</a>									
				</div>							
			</div>
			
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="dashboard-stat bg_purple">					
					<div class="visual">
						<i class="fa fa-globe"></i>
					</div>
					<div class="details">
						<div class="number">
							{{dashboard.runningTotal}}
							<span style="font-size: 14px;">
								小时
							</span>
						</div>
						<div class="desc">
							平台设备运行总时间
						</div>							
					</div>									
					<a class="more bg_purple_dark" ui-sref="monitor.thumb">
						查看详情 
						<i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i>
					</a>									
				</div>							
			</div>						
		</div>

		<style>
			#dashboard_amchart_3d {
				width: 100%;
				height: 400px;
			}
			.portlet-fullscreen #dashboard_amchart_3d{
				width: 100%;
				height: 500px;
			}
			#dashboard_amchart_pie {
				width: 100%;
				height: 400px;
			}
			.portlet-fullscreen #dashboard_amchart_pie{
				width: 100%;
				height: 500px;
			}
		</style>


		<div class="row">
			<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption">
	                        <span class="caption-subject uppercase font-dark">热效率统计图</span>		                       
		                </div>
						
						<div class="actions">
							<a class=" btn btn-circle btn-icon-only btn-default fullscreen">
							</a>
						</div>
					</div>
					<div class="portlet-body">			
						<div id="dashboard_amchart_3d" class="CSSAnimationChart"></div>
					</div>
				</div>				
			</div>
			
			<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
				<div class="portlet light">
					<div class="portlet-title">
						<div class="caption ">
	                        <span class="caption-subject font-dark bold uppercase">设备额定功率分布</span>	                        
	                    </div>
						<div class="actions">
							<a class=" btn btn-circle btn-icon-only btn-default fullscreen">
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<!--<div class="high_chart" id="chart_pie" style=" min-width:400px;height:400px"></div>-->
						<div id="dashboard_amchart_pie" class="CSSAnimationChart"></div>
					</div>

				</div>

				
			</div>
		</div>	
	</div>	
	
</div>

