<div class="page-bar">
	<ol class="breadcrumb">
		<li>
			<a href="" ui-sref="dashboard">首页</a>
		</li>
		<li>
			<a href="" ui-sref="monitor.thumb">主控制台</a>
		</li>

	</ol>
</div>


<div class="page_content">
	

<div class="select_container">
	<div class="row">
		
		<div class="col-md-6">
			<div class="col-md-6">
				<select  class="form-control"
					 ng-model="selectedCompany" ng-change="selectCompany(selectedCompany)" ng-options="item for item in productData | orderBy:'company' | unique:'company'">
					<option selected="selected" value="">企业不限</option>			
				</select>
			</div>
			
			<div class="col-md-3">
				<select class="form-control"
					 ng-model="selectedModel" ng-change="selectModel(selectedModel)" ng-options="item for item in productData | orderBy:'model' | unique:'model'">
					<option selected="selected" value="">型号不限</option>		
				</select>
			</div>
			
			<div class="col-md-3">
				<select class="form-control"
					 ng-model="selectedFuel" ng-change="selectFuel(selectedFuel)" ng-options="item for item in productData | orderBy:'fuel' | unique:'fuel'">
					<option selected="selected" value="">燃料不限</option>		
				</select>
			</div>
		</div>
		
		<div class="col-md-6">
			<!--停燃
			<label class="switch switch-lg">
		        <input type="checkbox" checked="checked">
		       <span></span>
		    </label>
	          燃烧-->
	          <input type="text" class="form-control"  name="" id="" value="" />
	          
		</div>		
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<!--<ui-select ng-model="selectedCompany"  ng-disabled="disabled">
               <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
               <ui-select-choices repeat="item for item in productData | orderBy:'company' | unique:'company'">
                  <span ng-bind="item">  
           		  </span> 
               </ui-select-choices>
            </ui-select>-->
		</div>
	</div>
	
	
	
	
	
	
	
	
	
	
	

</div>

<div ng-controller="tabController" class="main_console">
	<ul class="nav nav-tabs">
		<li ui-sref-active="active" ng-class="{active:isActiveTag(monitor.thumb)}">
			<a href="" ui-sref=".thumb">图文模式</a>
		</li>
		<li ui-sref-active="active" ng-class="{active:isActiveTag(monitor.list)}">
			<a href="" ui-sref=".list">列表模式</a>
		</li>

	</ul>
	<div class="tab-content">

		<div class="">
			<div ui-view=""></div>
		</div>

		
	</div>
</div>

</div>