<div ng-controller="viewCtrl" class="view">
	<ul class="row">
		<li ng-repeat="data in productData | range:selectedpage:pageSize | filter:modelFilterFn | filter:fuelFilterFn | filter:companyFilterFn " class="col-md-6 col-sm-12 col-xs-12">
			<div class="view_box">
				<div class="view_header">
					<div class="float_left view_title">
						<a ui-sref="runtime.dashboard" href="">
							<i class="fa fa-database fa-lg"></i>
							<span>{{data.model}} </span>
						</a>
						
						<div class="inline">
							<a href="" ng-click="openModal(data)">测算</a>
						</div>
												
					</div>

					<div class="float_right">
						<button type="button" ng-class="{'btn-danger':data.state==1, 'btn-info':data.state==0,}" class="btn btn-sm ">终端状态</button>
						<button type="button" ng-class="{'btn-danger':data.state==1, 'btn-info':data.state==0,}" class="btn btn-sm">燃烧状态</button>
						<button type="button" class="btn btn-warning btn-sm">告警</button>
					</div>
				</div>

				<div class="view_body">
					<div class="col-md-6 col-sm-12">
						<table border="0" cellspacing="" cellpadding="" width="100%">
							<tr>
								<th>热效率</th>
								<th>蒸汽压力</th>
							</tr>
							<tr>
								<td>{{data.num}}</td>
								<td>{{data.model}}</td>
							</tr>
							<tr>
								<th>排烟温度(低)</th>
								<th>过量空气系数</th>
							</tr>
							<tr>
								<td>Data</td>
								<td>Data</td>
							</tr>
						</table>
					</div>
					<div class="col-md-6 col-sm-12">
						<img src="../images/gasboiler.png" />
					</div>
				</div>

			</div>
		</li>

	</ul>

	<!--pagination-->	

	<div >
		
         <div class="float_left count_num">
			共{{totalItems}} 条记录
		</div>
         <div class="pagination">       	       	
            <ul uib-pagination boundary-links="true" total-items="totalItems"
                        ng-model="selectedpage"  ng-change="setPageSize(pageSize)"
                        items-per-page="pageSize"
                        max-size="maxSize"  num-pages="totalPage"
                        previous-text="上一页" next-text="下一页"
                        first-text="首页" last-text="尾页">
            </ul>
         </div>
    </div>
	
</div>