<div ng-controller="viewCtrl" class="view row thumb_con">
	<ul>
		<li ng-repeat="boiler in productData | filter:search
			| filter:modelFilterFn | filter:fuelFilterFn | filter:aEvaporateFilterFn | filter:aOrgFilterFn 
			| filter:filterBurning | filter:aQuery |filter:aLocation 
			| range:selectedpage:pageSize " 
			class="col-md-6 col-sm-12 col-xs-12">
			<!-- BEGIN PORTLET-->
			<div class="portlet light bordered boiler-frame" ng-init="fetchThumbParam(boiler)">
				<div class="portlet-title">
					<div class="view_title caption">
						<a ui-sref="runtime.dashboard({boiler: boiler.Uid})">
							<i ng-show="boiler.Fuel.Type.Id == 1" class="fa fa-cubes font-grey-cascade"></i>
	                        <i ng-show="boiler.Fuel.Type.Id == 2" class="fa fa-tint font-grey-gallery"></i>
	                        <i ng-show="boiler.Fuel.Type.Id == 3" class="fa fa-database font-blue-soft"></i>
	                        <i ng-show="boiler.Fuel.Type.Id == 4" class="fa fa-leaf font-green-jungle"></i>
	                        <i ng-show="boiler.Fuel.Type.Id > 4" class="fa fa-sun-o font-grey"></i>
							<span class="caption-subject font-grey-mint bold uppercase">{{boiler.name}} </span>
						</a>												
						<a href="" ng-click="openModal(boiler)" class="caption-helper btn-outline btn-circle">
							<i class="fa fa-wrench"></i>
							测算
						</a>																		
					</div>

					<div class="actions">
						<div class="btn-group btn-group-devided">
							<a class="btn btn-outline btn-circle btn-sm active"
	                           ng-class="[{'green': boiler.Terminal.IsOnline || boiler.isBurning}, { 'red': (!boiler.Terminal || !boiler.Terminal.IsOnline) && !boiler.isBurning}]">
	                           	终端状态
							</a>
	                        <a ui-sref="runtime.dashboard({boiler: boiler.Uid})"
	                           class="btn btn-outline btn-sm btn-circle active"
	                           ng-class="[{'green': boiler.isBurning}, { 'red': !boiler.isBurning}]">燃烧状态</a>
	                        <a ui-sref="runtime.alarm({boiler: boiler.Uid})" 
	                        	ng-class="['btn', 'btn-outline', 'btn-sm', 'btn-circle', 'active', {'green': boiler.alarmLevel == 0}, { 'yellow-lemon': boiler.alarmLevel == 1}, { 'red': boiler.alarmLevel == 2}, { 'grey': boiler.alarmLevel == -1}]" >
	                        	告警
	                        </a>
						</div>
						
					</div>
				</div>

				<div class="portlet-body">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<table class="table table-scrollable-borderless table-hover table-light">
								<thead ng-repeat-start="rtms in boiler.runtime">
									<tr class="uppercase">
		                                <th ng-repeat="rtm in rtms">{{ rtm.name }}</th>
		                           </tr>		                            
								</thead>
								<tbody ng-repeat-end>
									<tr>
		                                <td ng-repeat="rtm in rtms">
		                                    <span ng-class="[{'label': boiler.isBurning}, {'label-lg': boiler.isBurning}, {'label-success': rtm.alarmLevel == 0}, { 'label-warning': rtm.alarmLevel == 1}, {'label-danger': rtm.alarmLevel == 2} ]" >{{rtm.value}}</span>
		                                </td>
		                            </tr>
									
								</tbody>
								
								
							</table>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							
							<a ui-sref="runtime.dashboard({boiler: boiler.Uid})">
	                            <!--<img class="boiler-thumb" ng-src="../img/{{ boiler.img }}" />-->
	                            <img class="boiler-thumb" src="../images/gasboiler.png" />
	                        </a>
						</div>
					</div>
					
				</div>

			</div>
		</li>

	</ul>
	<div class="clearfix"></div>

	<!--pagination-->	
	
	<div >
		
         <div class="float_left count_num">
			共{{totalItems=(datasource| filter:search
			| filter:modelFilterFn | filter:fuelFilterFn | filter:aEvaporateFilterFn | filter:aOrgFilterFn 
			| filter:filterBurning | filter:aQuery |filter:aLocation).length}} 条记录
		</div>
         <div class="pagination">       	       	
            <ul uib-pagination boundary-links="true" total-items="totalItems" boundary-link-numbers="true"
                        ng-model="selectedpage"  ng-change="setPageSize(pageSize)"
                        items-per-page="pageSize"
                        max-size="maxSize"  num-pages="totalPage"
                        previous-text="上一页" next-text="下一页"
                        first-text="首页" last-text="尾页">
            </ul>
         </div>
    </div>
	
</div>