<div class="page-bar">
	<ol class="page-breadcrumb">
		<li>
			<a ui-sref="monitor.dashboard">主页</a>
            <i class="fa fa-circle"></i>
		</li>
		<li>
			 <a ui-sref="boiler.dashboard">锅炉信息</a>
		</li>

	</ol>
</div>

<div ng-controller="boilerController" class="page_content">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
                        <i class="fa fa-cog font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">锅炉信息</span>
                        <span class="caption-helper hide"></span>
                    </div>
                    <div class="actions">
                    	
                    </div>
				</div>
				
				<div class="portlet-body">
					<div ui-view class="profile-content fade-in-up"> </div>										
				</div>
			</div>
		</div>
		
	</div>
		

		
		
		
		
		
		
			
		
	
	
</div>


