<div>
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">维保记录编辑	</h4>

	</div>
	<div class="modal-body">
		<style>
			label{
				display: block;
			}
		</style>
		<div class="row">
			<div class="form-group col-md-6">
				<label class="control-label">维保日期：</label>				
				<div class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup ng-model="$modal.inspectDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" current-text="今天" clear-text="清除" close-text="关闭" />
					<span class="input-group-btn">
				            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
				        </span>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="control-label">维保锅炉：</label>
				
				<ui-select ng-model="$modal.boilerId" ng-disabled="$modal.currentData" theme="bootstrap">
					<ui-select-match placeholder="输入锅炉名称或在列表中选择...">{{$select.selected.name}}</ui-select-match>
					<ui-select-choices group-by="'ent'" repeat="boiler.Uid as boiler in $modal.boilers | filter: $select.search">
						<span ng-bind-html="boiler.name | highlight: $select.search"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>

		<div class="detail_button" ng-show="$modal.detailindex == 1">
			<div class="col-md-4 col-sm-6 col-xs-12 ">
				<label>燃烧器冷却水温度是否过高</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn btn-md detail-btn-green btn-green " ng-model="$modal.maintainDetail.burner[0]">								
								正常
							</label>
					<label uib-btn-radio="2" class="btn btn-md detail-btn-yellow btn-yellow " ng-model="$modal.maintainDetail.burner[0]">
								过低
							</label>
					<label uib-btn-radio="1" class="btn btn-md detail-btn-red btn-red" ng-model="$modal.maintainDetail.burner[0]">
								过高
							</label>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12 ">
				<label>燃烧器炉膛耐火砖是否有脱落</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn detail-btn-green btn-green" ng-model="$modal.maintainDetail.burner[1]">无脱落
							</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.burner[1]">有脱落
							</label>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>燃烧器火口是否有变形</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn detail-btn-green btn-green" ng-model="$modal.maintainDetail.burner[2]">无变形
							</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.burner[2]">有变形
							</label>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>进料蛟龙运转是否有异响</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn detail-btn-green btn-green" ng-model="$modal.maintainDetail.burner[3]">无异响</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.burner[3]">有异响</label>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>鼓风机转动是否有异响</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn detail-btn-green btn-green" ng-model="$modal.maintainDetail.burner[4]">无异响
							</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.burner[4]">有异响
							</label>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12 ">
				<label>风料连锁控制情况是否正常</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn detail-btn-green btn-green" ng-model="$modal.maintainDetail.burner[5]">正常
							</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.burner[5]">异常
							</label>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>燃烧器差压传感器是否稳定</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn detail-btn-green btn-green" ng-model="$modal.maintainDetail.burner[6]">很稳定</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.burner[6]">不稳定</label>
				</div>
			</div>

		</div>

		<div class="detail_button" ng-show="$modal.detailindex == 2">

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>斗提机运转是否正常</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn btn-md detail-btn-green btn-green " ng-model="$modal.maintainDetail.importGrate[0]">正常
							</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.importGrate[0]">异常
							</label>

				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>星型给料器给料情况是否匹配</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn btn-md detail-btn-green btn-green " ng-model="$modal.maintainDetail.importGrate[1]">匹配
							</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.importGrate[1]">异常
							</label>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>炉排运转数度调节是否与负荷匹配</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn btn-md detail-btn-green btn-green " ng-model="$modal.maintainDetail.importGrate[2]">匹配</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.importGrate[2]">异常</label>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>炉排漏料是否过多</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn btn-md detail-btn-green btn-green " ng-model="$modal.maintainDetail.importGrate[3]">正常
							</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.importGrate[3]">过多
							</label>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12 ">
				<label>燃料燃尽与炉排速度匹配度</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn btn-md detail-btn-green btn-green " ng-model="$modal.maintainDetail.importGrate[4]">匹配
							</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.importGrate[4]">异常
							</label>
				</div>
			</div>

			<div class=" col-md-4 col-sm-6 col-xs-12">
				<label>风门是否可开合</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn btn-md detail-btn-green btn-green " ng-model="$modal.maintainDetail.importGrate[5]">易开合</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.importGrate[5]">难开合</label>
				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>风门开合与燃烧是否最优</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn btn-md detail-btn-green btn-green " ng-model="$modal.maintainDetail.importGrate[6]">最优</label>
					<label uib-btn-radio="1" class="btn btn-md detail-btn-yellow btn-yellow " ng-model="$modal.maintainDetail.importGrate[6]">良好</label>
					<label uib-btn-radio="2" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.importGrate[6]">最差</label>
				</div>
			</div>

		</div>
		
		<div class="detail_button" ng-show="$modal.detailindex == 3">

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label class="control-label">对软化水器进行定期的排污</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green btn-max" 
						ng-model="$modal.maintainDetail.importGrate[0]">有定期排污
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red btn-max" 
						ng-model="$modal.maintainDetail.importGrate[0]">无定期排污
					</label>

				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>对软化水器灵敏度的检查</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[1]">灵敏
							</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-yellow btn-yellow" 
						ng-model="$modal.maintainDetail.importGrate[1]">正常
							</label>
					<label uib-btn-radio="2" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[1]">正常
							</label>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>软水箱中的水硬度超标</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" class="btn btn-md detail-btn-green btn-green " ng-model="$modal.maintainDetail.importGrate[0]">正常
							</label>
					<label uib-btn-radio="1" class="btn detail-btn-red btn-red" ng-model="$modal.maintainDetail.importGrate[0]">超标
							</label>

				</div>
			</div>

		
		</div>
		
		<div class="detail_button" ng-show="$modal.detailindex == 4">

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label class="">检查泵体是否完好</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[0]">完好
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red " 
						ng-model="$modal.maintainDetail.importGrate[0]">锈蚀
					</label>

				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>检查水泵水流方向指示是否明确清晰</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[1]">清晰
							</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-yellow btn-yellow" 
						ng-model="$modal.maintainDetail.importGrate[1]">可辨别
							</label>
					<label uib-btn-radio="2" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[1]">难辨别
							</label>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>检查水泵有无渗漏情况</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green " 
						ng-model="$modal.maintainDetail.importGrate[0]">无渗漏
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">有渗漏
					</label>

				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>对水泵补充润滑油，若油变色、变质、有杂志应及时更换。</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green " 
						ng-model="$modal.maintainDetail.importGrate[0]">正常
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-yellow btn-yellow" 
						ng-model="$modal.maintainDetail.importGrate[0]">已补充
					</label>
					<label uib-btn-radio="2" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">已更换
					</label>

				</div>
			</div>
		
		</div>
		
		<div class="detail_button" ng-show="$modal.detailindex == 5">

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label class="">水位计1是否可清楚辨认</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[0]">可辨别
					</label>
					
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">难辨别
					</label>

				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>水位计2是否稳定显示</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[1]">稳定
							</label>
					
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[1]">不稳定
					</label>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>压力开关是否稳定</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green " 
						ng-model="$modal.maintainDetail.importGrate[0]">稳定
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">不稳定
					</label>

				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>排污阀是否锈蚀</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green " 
						ng-model="$modal.maintainDetail.importGrate[0]">无锈蚀
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">有锈蚀
					</label>

				</div>
			</div>
		
			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>安全阀是否有漏气现象</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green " 
						ng-model="$modal.maintainDetail.importGrate[0]">无漏气
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">有漏气
					</label>

				</div>
			</div>
			
			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>锅炉压力传感器是否稳定</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green " 
						ng-model="$modal.maintainDetail.importGrate[0]">稳定
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">不稳定
					</label>

				</div>
			</div>
		
		
 

		</div>

		<div class="detail_button" ng-show="$modal.detailindex == 6">

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label class="">节能器前后烟温表是否正常</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[0]">正常
					</label>
					
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">异常
					</label>

				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>节能器前后水温表是否正常</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[1]">正常
							</label>
					
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[1]">异常
					</label>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>节能器是否密封严密</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green " 
						ng-model="$modal.maintainDetail.importGrate[0]">严密
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">漏风
					</label>

				</div>
			</div>
						 
		</div>

		<div class="detail_button" ng-show="$modal.detailindex == 7">

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label class="">节能器前后烟温表是否正常</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[0]">正常
					</label>
					
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">异常
					</label>

				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>节能器前后水温表是否正常</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[1]">正常
							</label>
					
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[1]">异常
					</label>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>节能器是否密封严密</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green " 
						ng-model="$modal.maintainDetail.importGrate[0]">严密
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">漏风
					</label>

				</div>
			</div>
						 
		</div>

		<div class="detail_button" ng-show="$modal.detailindex == 8">

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label class="">节能器前后烟温表是否正常</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[0]">正常
					</label>
					
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">异常
					</label>

				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>节能器前后水温表是否正常</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[1]">正常
							</label>
					
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[1]">异常
					</label>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>节能器是否密封严密</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green " 
						ng-model="$modal.maintainDetail.importGrate[0]">严密
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">漏风
					</label>

				</div>
			</div>
						 
		</div>

		<div class="detail_button" ng-show="$modal.detailindex == 9">

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label class="">引风机异响情况</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[0]">无异响
					</label>
					
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">有异响
					</label>

				</div>
			</div>

			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>引风机出力较前是否下降</label>
				<div class="btn-group btn-group-divided detail-btn ">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green" 
						ng-model="$modal.maintainDetail.importGrate[1]">正常
							</label>
					
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[1]">下降
					</label>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6 col-xs-12">
				<label>应风机冷却水是否合格</label>
				<div class="btn-group btn-group-divided detail-btn">
					<label uib-btn-radio="0" 
						class="btn btn-md detail-btn-green btn-green " 
						ng-model="$modal.maintainDetail.importGrate[0]">合格
					</label>
					<label uib-btn-radio="1" 
						class="btn detail-btn-red btn-red" 
						ng-model="$modal.maintainDetail.importGrate[0]">不合格
					</label>

				</div>
			</div>
						 
		</div>


		<div class="dataTables_paginate paging_full_numbers">
			<ul class="pagination">
				<li class="paginate_button" ng-class="{'active': $modal.detailindex === 1}">
					<a href="" ng-click="$modal.setIndex(1)">燃烧器</a>
				</li>
				<li class="paginate_button" ng-class="{'active': $modal.detailindex === 2}">
					<a href="" ng-click="$modal.setIndex(2)">进料及炉排</a>
				</li>
				<li class="paginate_button" ng-class="{'active': $modal.detailindex === 3}">
					<a href="" ng-click="$modal.setIndex(3)">软水器</a>
				</li>
				<li class="paginate_button" ng-class="{'active': $modal.detailindex === 4}">
					<a href="" ng-click="$modal.setIndex(4)">水泵</a>
				</li>
				<li class="paginate_button" ng-class="{'active': $modal.detailindex === 5}">
					<a href="" ng-click="$modal.setIndex(5)">锅炉本体</a>
				</li>
				<li class="paginate_button" ng-class="{'active': $modal.detailindex === 6}">
					<a href="" ng-click="$modal.setIndex(6)">节能器</a>
				</li>
				<li class="paginate_button" ng-class="{'active': $modal.detailindex === 7}">
					<a href="" ng-click="$modal.setIndex(7)">空预器</a>
				</li>
				<li class="paginate_button" ng-class="{'active': $modal.detailindex === 8}">
					<a href="" ng-click="$modal.setIndex(8)">除尘器</a>
				</li>
				<li class="paginate_button" ng-class="{'active': $modal.detailindex === 9}">
					<a href="" ng-click="$modal.setIndex(9)">引风机</a>
				</li>
			</ul>
		</div>

		<div class="row">
			<div class="col-md-12" style="margin-top: 6px;">
				<label>记录摘要：</label>
				<textarea class="form-control" name="" rows="2" cols="" placeholder="记录摘要"> </textarea>
			</div>
		</div>

	</div>
	<div class="modal-footer">

		<button class="btn btn-primary" ng-click="ok()">
			提交
		</button>
		<button class="btn btn-default" ng-click="cancel()">
			取消
		</button>
	</div>
</div>