<div>
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title"> {{data.title}}	</h4>

	</div>
	<div class="modal-body">
		<form action="" method="post">
			<div class="row">
				<div class="form-group col-md-6">
					<div class="input-group">
						<label class="input-group-addon" >企业名称</label>
						<input ng-model="data.Name" type="text" 
							class="form-control" 
							placeholder="输入名称">
					</div>
				</div>

				<div class="form-group col-md-6">
					<select class="form-control" ng-model="data.Type.Name" 
						ng-options="item.name for item in orgTypes">
						<option value="">企业类型(请选择)</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-6">
					<div class="input-group">
						<label class="input-group-addon">企业地址</label>
						<input ng-model="data.Address.Address" type="text" 
							class="form-control" placeholder="输入地址详情" >
					</div>
				</div>

				<div class="form-location col-md-6 col-sm-6">
					<div class="form-group col-md-4 col-sm-4">
						<select class="form-control " ng-model="data.Address.Location.LocationName">
							<option value="">所在区域</option>
						</select>
					</div>
					<div class="form-group col-md-4 col-sm-4">
						<select class="form-control ">
						</select>
					</div>
					<div class="form-group col-md-4 col-sm-4">
						<select class="form-control">
						</select>
					</div>
				</div>

			</div>
			
			<hr style="margin-top: 6px;">
			<div class="row">
				<div class="col-md-6">
					显示企业标识
					<label class="switch switch-lg">
				        <input type="checkbox" checked="checked">
				       <span></span>
				    </label>
				</div>
				
				<div class="form-group col-lg-6 col-md-6 col-sm-6">
					<div class="input-group">
						<label class="input-group-addon" >企业标识</label>
						<input ng-model="data.Address.Address" type="text" 
							class="form-control" placeholder="输入首页显示的企业标识">
					</div>
				</div>
				
			</div>
			
		</form>
	</div>
	<div class="modal-footer">

		<button class="btn btn-primary" ng-click="ok()">
								                保存
								 </button>
		<button class="btn btn-default" ng-click="cancel()">
								                取消
								</button>
	</div>
</div>