<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title" id="modal-title" style="display: inline-block;">通道自定义配置</h3>
	<span class="ticket-id bold font-blue font-lg" style="display: inline-block;">#{{ $modal.code}}</span>
</div>

<style type="text/css" class="ng-scope">
	.table .btn-group .btn {
	    margin-left: 0;
	    margin-right: -1px;
	}
    div.input-group.form-group,
    div.btn-group.form-group {
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal-body .input-group span.unit {
        position: absolute;
        left: auto;
        right: 16px;
        top: 8px;
        float: right;
        z-index: 10;
        color: grey;
    }

    .modal-body .input-group a.addon,
    .modal-section .input-group a.addon {
        position: absolute;
        left: auto;
        right: 6px;
        top: 6px;
        float: right;
        z-index: 10;
        padding: 4px;
        width: 22px;
        height: 22px;
        font-size: 12px;
        line-height: 1em;
    }

    .modal-section {
        padding: 15px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }

    .modal-body hr {
        margin-top: 6px;
    }

    #channel div.ui-select-container {
        display: inline-block;
        float: left;
        width: 86%;
    }

    #channel button.btn-cell {
        /*border-left: 1px solid #ccc;*/
        width: 13.6%;
        padding: 6px 3px;
    }

    #channel .table > tbody > tr > td {
        font-size: 13px;
        padding: 1px;
        border: 1px solid #ccc;
    }

    #channel .table > tbody > tr > td .btn-default {
        border: none;
    }

    #channel .tabbable-line {
        margin-left: 12px;
    }

    #channel .tabbable-line > .nav-tabs > li.open,
    #channel .tabbable-line > .nav-tabs > li {
        background: 0 0;
        border-top: none;
        border-bottom: none;
        padding-top: 6px;
    }

    #channel .tabbable-line > .nav-tabs > li.open,
    #channel .tabbable-line > .nav-tabs > li:hover {
        border-top: 4px solid #9fe4ea;
        padding-top: 2px;
    }

    #channel .tabbable-line > .nav-tabs > li.active {
        background: 0 0;
        border-top: 4px solid #36c6d3;
        position: relative;
        padding-top: 2px;
    }

    #channel.portlet.light .nav-tabs > li > a {
        padding: 0 10px 6px 5px;
    }

    #channel.portlet.light > .portlet-title {
        min-height: 0;
    }

    #channel .tabbable-line > .nav-tabs {
        margin-top: -16px;
    }


</style>

<div class="modal-body" id="modal-body">
	<div class="row" id="channel" style="padding: 0 15px;">
		<div class="row tabbable-line">
		    <ul class="nav nav-tabs pull-left">
		                <li ng-class="{'active': $modal.category === 10}" class="active">
		                    <a ng-click="$modal.categoryChanged(10);">
		                        <i class="icon-graph"></i>
		                        模拟通道
		                    </a>
		                </li>
		                <li ng-class="{'active': $modal.category === 11}">
		                    <a ng-click="$modal.categoryChanged(11);">
		                        <i class="fa fa-sliders"></i>
		                        开关通道
		                    </a>
		                </li>
		            </ul>
		</div>
		
		<div class="">
			<!--ANALOG TABLE BEGIN-->
			<table ng-show="$modal.category === 10" class="table table-striped table-hover table-checkable order-column table-boiler">
				<thead>
					<tr>
						<th></th>
						<th>模拟通道A</th>
						<th>模拟通道B</th>						
					</tr>
				</thead>
				<tbody>														
					<tr ng-repeat="chan_row in $modal.chanMatrix track by $index" ng-init="outerIndex = $index">
						<td width="10%" style="color: #555; text-align: center;background-color: #eee; border: 1px solid #ccc; ">
							通道{{$index+1}}
						</td>
						
						<td width="45%" ng-repeat="chan in chan_row track by $index" ng-show="$index < 2" ng-init="innerIndex = $index; data = $modal.dataMatrix[outerIndex][innerIndex]">
							<div class="btn-group dropdown" uib-dropdown="" style="width: 100%;">
								<button type="button" uib-dropdown-toggle="" ng-disabled="!$modal.dataMatrix[outerIndex][innerIndex].Parameter || $modal.dataMatrix[outerIndex][innerIndex].Parameter.Id <= 0 || $modal.dataMatrix[outerIndex][innerIndex].Status === -1" 
									ng-class="['btn', 'btn-cell', {'default': $modal.dataMatrix[outerIndex][innerIndex].Status === 0}, {'blue-sharp': $modal.dataMatrix[outerIndex][innerIndex].Status === 1}, {'red': $modal.dataMatrix[outerIndex][innerIndex].Status === 2}]" 
									class="dropdown-toggle btn btn-cell" aria-haspopup="true" aria-expanded="false">
	                                <i ng-class="['fa', {'fa-ellipsis-h': $modal.dataMatrix[outerIndex][innerIndex].Status === 0}, {'fa-eye': $modal.dataMatrix[outerIndex][innerIndex].Status === 1}, {'fa-eye-slash': $modal.dataMatrix[outerIndex][innerIndex].Status === 2}]" class="fa"></i>
	                                <span ng-show="$modal.dataMatrix[outerIndex][innerIndex].Status === 1"> {{$modal.dataMatrix[outerIndex][innerIndex].SequenceNumber}} </span>
	                                <span class="sr-only">通道状态</span>
	                            </button>
	                                 
	                                
	                            <ui-select ng-model="$modal.dataMatrix[outerIndex][innerIndex].Parameter" ng-change="" theme="bootstrap">  
									   <ui-select-match placeholder="{{$modal.chanMatrix[outerIndex][innerIndex].Name}}">  
									       <span> 
									       	{{$select.selected.Name}}
									       </span>  
									   </ui-select-match>  
									   <ui-select-choices repeat="param in $modal.parameters[innerIndex] | filter: $select.search">  
									       <span>  {{param.Name + param.Id}}</span>  
									   </ui-select-choices>  
								</ui-select>  
								
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
	                                <li class="dropdown-submenu">
	                                    <a href=""><i class="fa fa-eye"></i> 关注</a>
	                                    <ul class="dropdown-menu" style="min-width: 44px;">
	                                        <li ng-repeat="priority in $modal.priorities" class="ng-scope">
	                                            <a href="" ng-click="setStatus(outerIndex, innerIndex, 1, priority)"> {{priority}} </a>
	                                        </li>
	                                    </ul>
	                                </li>
	                                <li role="menuitem"><a href="" ng-click="setStatus(outerIndex, innerIndex, 2)"><i class="fa fa-eye-slash"></i> 隐藏</a></li>                               
	                                <li class="divider"></li>
	                                <li role="menuitem"><a href="" ng-click="setStatus(outerIndex, innerIndex, 0)"><i class="fa fa-ellipsis-h"></i> 默认</a></li>
	                            </ul>
	                            												
							</div>
							
						</td>
						
	
					</tr>
						
				</tbody>
			</table>
			<!--ANALOG TABLE END-->
			<!--SWITCH TABLE BEGIN-->
			<table ng-show="$modal.category === 11" class="table table-striped table-hover table-checkable order-column table-boiler">
				<thead>
					<tr>
	                    <th></th>
	                    <th>开关通道A</th>
	                    <th>开关通道B</th>
	                    <th>开关通道C</th>
	                </tr>
				</thead>
				<tbody>														
					<tr ng-repeat="chan_row in $modal.chanMatrix track by $index" ng-init="outerIndex = $index">
						<td width="10%" style="color: #555; text-align: center;background-color: #eee; border: 1px solid #ccc; ">
							通道{{$index+1}}
						</td>
						
						<td width="30%" ng-repeat="chan in chan_row track by $index" ng-show="$index >= 2 && $index < 5" ng-init="innerIndex = $index; data = $modal.dataMatrix[outerIndex][innerIndex]">
							<div class="btn-group dropdown" uib-dropdown="" style="width: 100%;">
								<button type="button" uib-dropdown-toggle="" ng-disabled="!$modal.dataMatrix[outerIndex][innerIndex].Parameter || $modal.dataMatrix[outerIndex][innerIndex].Parameter.Id <= 0 || $modal.dataMatrix[outerIndex][innerIndex].Status === -1" 
									ng-class="['btn', 'btn-cell', {'default': $modal.dataMatrix[outerIndex][innerIndex].Status === 0}, {'blue-sharp': $modal.dataMatrix[outerIndex][innerIndex].Status === 1}, {'red': $modal.dataMatrix[outerIndex][innerIndex].Status === 2}]" 
									class="dropdown-toggle btn btn-cell" aria-haspopup="true" aria-expanded="false">
	                                <i ng-class="['fa', {'fa-ellipsis-h': $modal.dataMatrix[outerIndex][innerIndex].Status === 0}, {'fa-eye': $modal.dataMatrix[outerIndex][innerIndex].Status === 1}, {'fa-eye-slash': $modal.dataMatrix[outerIndex][innerIndex].Status === 2}]" class="fa"></i>
	                                <span ng-show="$modal.dataMatrix[outerIndex][innerIndex].Status === 1"> {{$modal.dataMatrix[outerIndex][innerIndex].SequenceNumber}} </span>
	                                <span class="sr-only">通道状态</span>
	                            </button>
	                                 
	                                
	                            <ui-select ng-model="$modal.dataMatrix[outerIndex][innerIndex].Parameter" ng-change="" theme="bootstrap">  
									   <ui-select-match placeholder="{{$modal.chanMatrix[outerIndex][innerIndex].Name}}">  
									       <span> 
									       	{{$select.selected.Name}}
									       </span>  
									   </ui-select-match>  
									   <ui-select-choices repeat="param in $modal.parameters[2] | filter: $select.search">  
									       <span>  {{param.Name + param.Id}}</span>  
									   </ui-select-choices>  
								</ui-select>  
								
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
	                                <li class="dropdown-submenu">
	                                    <a href=""><i class="fa fa-eye"></i> 关注</a>
	                                    <ul class="dropdown-menu" style="min-width: 44px;">
	                                        <li ng-repeat="priority in $modal.priorities" class="ng-scope">
	                                            <a href="" ng-click="setStatus(outerIndex, innerIndex, 1, priority)"> {{priority}} </a>
	                                        </li>
	                                    </ul>
	                                </li>
	                                <li role="menuitem"><a href="" ng-click="setStatus(outerIndex, innerIndex, 2)"><i class="fa fa-eye-slash"></i> 隐藏</a></li>                               
	                                <li class="divider"></li>
	                                <li role="menuitem"><a href="" ng-click="setStatus(outerIndex, innerIndex, 0)"><i class="fa fa-ellipsis-h"></i> 默认</a></li>
	                            </ul>
	                            												
							</div>
							
						</td>
						
	
					</tr>
						
				</tbody>
			</table>
			<!--SWITCH TABLE END-->
		</div>
		
		
	</div>
</div>
<div class="modal-footer">
	<button class="btn yellow-crusta" type="button"  ng-click="matrixReset()" style="float: left">
		恢复默认
	</button>
	<button type="button" class="btn ladda-button btn-primary"  ng-disabled="$modal.code.length !== 6" 
		ng-class="[{'btn-primary': $modal.code.length === 6}, {'grey': $modal.code.length !== 6}]" 
		data-style="expand-right" id="boiler_ok" ng-click="ok()"> 
		<span class="ladda-label">提交</span>
	</button>
	<button class="btn btn-default" type="button" ng-click="cancel()">取消</button>
</div>