<!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
<div class="c-square c-content-login-form">
    <div class="modal-header c-no-border">
        <button type="button" ng-click="$modal.cancel()" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="c-font-24 c-font-sbold">欢迎回来，微信用户 {{ currentUser.Thirds[0].Name }} ！</h3>
    </div>
    <form name="loginForm" ng-submit="$modal.login()">
        <div class="modal-body c-no-border">
            <p>您的微信尚未绑定本平台账号。</p>
            <p>如果您已有本平台的账号，请输入您的账号密码进行绑定。</p>
            <p>如果您还未注册，请点击注册按钮进行注册。</p>
            <div class="form-group">
                <label for="login-username" class="hide">用户名</label>
                <input type="text" ng-model="$modal.username" class="form-control c-square" id="login-username" placeholder="用户名" required>
            </div>
            <div class="form-group">
                <label for="login-password" class="hide">密码</label>
                <input type="password" ng-model="$modal.password" class="form-control c-square" id="login-password" placeholder="密码" required>
            </div>

        </div>
        <div class="modal-footer c-no-border">
            <button type="submit" class="btn btn-success c-theme-btn c-btn-uppercase c-btn-bold c-btn-square c-btn-login">登录并绑定</button>
            <button ng-click="$modal.gotoSignup()" class="btn btn-info c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">注册</button>
        </div>
    </form>
</div>
<!-- END: CONTENT/USER/LOGIN-FORM -->