<div class="page-bar">
	<ol class="page-breadcrumb">
		<li>
			<a ui-sref="monitor.dashboard">主页</a>
			<i class="fa fa-circle"></i>
		</li>
		<li>
			<a ui-sref="terminal.dashboard">终端管理</a>
		</li>

	</ol>
</div>

<div ng-controller="terminalController" class="page_content">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet light bordered">
				<div class="portlet-title">
					<div class="caption font-green-sharp">
						<i class="fa fa-cog font-green-sharp"></i>
						<span class="caption-subject bold uppercase"><!--{{ $state.current.data.pageTitle }}-->终端列表</span>
						<span class="caption-helper hide"></span>
					</div>
					<div class="actions">
						<div  class="btn-group btn-group-devided" data-toggle="buttons" style="margin-right: 20px;">
							<a ui-sref="terminal.dashboard" class="btn blue btn-outline btn-circle btn-sm" ng-class="{'active': $state.current.name == 'terminal.dashboard'}">
								终端列表
							</a>
							<a ui-sref="terminal.message" class="btn blue btn-outline btn-circle btn-sm" ng-class="{'active': $state.current.name == 'terminal.message'}">
								消息调试
							</a>
						</div>

						<a class="btn btn-circle btn-icon-only btn-default fullscreen"> </a>
					</div>
				</div>
				<div class="portlet-body">
					<div ui-view class="profile-content fade-in-up"> </div>
				</div>
			</div>
		</div>
	</div>

	

</div>