<div class="">
	<div class="clearfix tabtable-line-top">
		<div ng-show="isShow('boilerflash.alarm')" class="subscription">
			订阅推送
			<label class="switch switch-lg">
		       <input type="checkbox" checked="checked">
		       <span></span>
		    </label>
		</div>
		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="{'active':alarmMode === 'current'}">				
				<a href="" ng-click="setAlarm('current')"> 
					<i class="fa fa-list"></i>
					当前告警列表
				</a>
			</li>
			<li role="presentation" ng-class="{'active':alarmMode === 'history'}">
				<a href="" ng-click="setAlarm('history')">
					<i class="fa fa-history"></i>
					历史告警列表
				</a>
			</li>

		</ul>
	</div>

	<div class="data_nav_h">
		<nav>
			<div class="container-fluid">
				<!--select pageSize-->
				<div class="dropdown pagesize">
					每页显示
					<select class="input-sm  w-sm inline v-middle" ng-model="pageSize" ng-options="o as o for o in placement.options" ng-change="setPageSize(pageSize)">
					</select>
					条

				</div>

				<!--search-->
				<form class="navbar-form navbar-right">
					<div class="form-group">
						搜索：
						<input type="text" ng-model="search" class="form-control" placeholder="Search">
					</div>

				</form>
			</div>
		</nav>
	</div>

<!--current-->
	<table ng-show="alarmMode === 'current'" class="table table-hover table-bordered">
		<thead>
			<tr>
				<th ng-click="changeOrder('num')" ng-class="{dropup:order===''}">
					序号
					<span ng-class="{orderColor:orderType==='num'}" class="caret"></span>
				</th>
				<th ng-click="changeOrder('boiler')" ng-class="{dropup:order===''}">
					告警锅炉
					<span ng-class="{orderColor:orderType==='boiler'}" class="caret"></span>
				</th>
				<th ng-click="changeOrder('monitor')" ng-class="{dropup:order===''}">
					监测参数
					<span ng-class="{orderColor:orderType==='monitor'}" class="caret"></span>
				</th>
				<th ng-click="changeOrder('priority')" ng-class="{dropup:order===''}">
					优先级
					<span ng-class="{orderColor:orderType==='priority'}" class="caret"></span>
				</th>
				<th ng-click="changeOrder('StartText')" ng-class="{dropup:order===''}">
					告警时间
					<span ng-class="{orderColor:orderType==='StartText'}" class="caret"></span>
				</th>
				<th ng-click="changeOrder('state')" ng-class="{dropup:order===''}">
					状态
					<span ng-class="{orderColor:orderType==='state'}" class="caret"></span>
				</th>
				<th>
					操作
				</th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="d in alarm.datasource|filter:alarmMode | filter:search | orderBy: order+orderType">
				<td>
					{{d.num}}
				</td>
				<td>
					{{d.boiler}}<br />
					<span ng-bind={{"d.Enterprise"}} class="label label-default label-xs">						
					</span>
				</td>
				<td>
					{{d.monitor}}
				</td>
				<td>
					<div ng-repeat="p in alarm.priorityIcons[d.priority]" 
						class="priority_icon"
						ng-class="[{'danger': d.priority >= 2}, {'warning': d.priority === 1}, {'info': d.priority <= 0}]">						
					</div>
					
				</td>

				<td>
					{{d.StartText}}-当前 <br />
					<span class="label label-sm label-info">
						{{d.DueText}}
					</span>					
				</td>
				<td>
					<span ng-class="{'label-warning':d.state=='新告警','label-default':d.state=='历史告警'}" class="label">
						{{d.state}}
					</span>

				</td>
				<td>
					<button type="button" ng-click="openModal(d)" class="btn btn_line btn_line_primary btn_round">
						<i class="fa fa-eye"></i> 
						查看
					</button>
					<!--<button ng-click="removeData(d.num)" type="button" class="btn btn-default btn-sm"> 删除</button>-->
				</td>
			</tr>
		</tbody>
	</table>


<!--history-->
	<table ng-show="alarmMode === 'history'" class="table table-hover" border="1" bordercolor="#dddddd">
		<thead>
			<tr>
				<th ng-click="changeOrder('num')" ng-class="{dropup:order===''}">
					序号
					<span ng-class="{orderColor:orderType==='num'}" class="caret"></span>
				</th>
				<th ng-click="changeOrder('boiler')" ng-class="{dropup:order===''}">
					告警锅炉
					<span ng-class="{orderColor:orderType==='boiler'}" class="caret"></span>
				</th>
				<th ng-click="changeOrder('monitor')" ng-class="{dropup:order===''}">
					监测参数
					<span ng-class="{orderColor:orderType==='monitor'}" class="caret"></span>
				</th>
				<th ng-click="changeOrder('priority')" ng-class="{dropup:order===''}">
					优先级
					<span ng-class="{orderColor:orderType==='priority'}" class="caret"></span>
				</th>
				<th ng-click="changeOrder('StartText')" ng-class="{dropup:order===''}">
					告警时间
					<span ng-class="{orderColor:orderType==='StartText'}" class="caret"></span>
				</th>				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="d in alarm.datasource|filter:alarmMode | filter:search | orderBy: order+orderType">
				<td>
					{{d.num}}
				</td>
				<td>
					{{d.boiler}}<br />
					<span ng-bind={{"d.Enterprise"}} class="label label-default label-xs">						
					</span>
				</td>
				<td>
					{{d.monitor}}
				</td>
				<td>
					<div ng-repeat="p in alarm.priorityIcons[d.priority]" 
						class="priority_icon"
						ng-class="[{'danger': d.priority >= 2}, {'warning': d.priority === 1}, {'info': d.priority <= 0}]">						
					</div>
				</td>

				<td>
					{{d.StartText}}-当前 <br />
					<span class="label label-sm label-default">
						{{d.DueText}}
					</span>	
				</td>
				
			</tr>
		</tbody>
	</table>


	<p ng-show="!totalItems">记录为空</p>



	<div class="clearfix">
		<div>
			<div class="float_left count_num">
				共{{totalItems=(alarm.datasource|filter:alarmMode| filter:search).length}} 条记录
			</div>
			<div class="pagination">
				<ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="selectedpage" ng-change="setPageSize(pageSize)" items-per-page="pageSize" max-size="maxSize" num-pages="totalPage" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页">
				</ul>
			</div>
		</div>
	</div>
</div>