<div class="">

	<table class="table table-striped table-bordered table-hover order-column table-boiler">
		<thead>
			<tr>
				<th ng-click="changeOrder('num')" ng-class="{dropup:order===''}">
					序号
					<span ng-class="{orderColor:orderType=== 'num'}" class="caret"></span>
				</th>
				<th>
					企业名称
				</th>
				<th>
					区域
				</th>
				<th>
					地址
				</th>
				<th>
					企业类型
				</th>

				<th>
					操作
				</th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="data in organization| orderBy: order+orderType | range:selectedpage:pageSize">
				<td>
					{{data.num}}
				</td>
				<td>
					{{data.Name}}
				</td>
				<td>
					{{data.Address.Location.LocationName}}
				</td>
				<td>
					{{data.Address.Address}}
				</td>

				<td>
					<span ng-class="['label', {'label-default': data.Type.TypeId == 0}, {'label-primary': data.Type.TypeId == 1}, {'label-success': data.Type.TypeId == 2}, {'label-warning': data.Type.TypeId == 3}, {'label-danger': data.Type.TypeId == 4}, {'label-info': data.Type.TypeId == 5}]">
						 	{{ data.Type.Name }}
					</span>
				</td>
				<td>
					<a ng-click="editModal(data)" class="btn edit btn-outline btn-circle btn-sm blue">
						<i class="fa fa-edit"></i> 编辑
					</a>
					<a ng-click="removeData(data.num)" class="btn delete btn-outline btn-circle btn-sm red">
						<i class="fa fa-trash-o"></i> 删除
					</a>
				</td>
			</tr>
		</tbody>

	</table>
	<p ng-show="!organization.length">记录为空</p>

</div>