<div class="">
	<table class="table table-striped table-bordered table-hover order-column table-boiler">
		<thead>
			<tr>
				<th ng-click="changeOrder('num')" ng-class="{dropup:order===''}">
					序号
					<span ng-class="{orderColor:orderType==='num'}" class="caret"></span>
				</th>
				<th>
					锅炉名称
				</th>
				<th>
					制造企业
				</th>
				<th>
					注册码
				</th>
				<th>
					型号
				</th>
				<th>
					燃料
				</th>
				<th>
					操作
				</th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="d in productData | orderBy: order+orderType| range:selectedpage:pageSize | filter:search">
				<td>
					{{d.num}}
				</td>
				<td>
					{{d.Name}} <br />
					<span class="label label-sm label-default">
		                {{ d.Enterprise.Name }}
		            </span>
				</td>
				<td>
					{{d.Factory.Name}}
				</td>
				<td>
					{{d.RegisterCode}}
				</td>
				<td>
					{{d.ModelCode}}
				</td>
				<td>
					{{d.Fuel.Name}}
				</td>
				<td>
					<!--<a ng-click="viewInfo(data)" 
						class="btn view btn-outline btn-circle blue">
		                <i class="fa fa-eye"></i> 查看
		            </a>-->
		            <a ui-sref="boiler.info({bilierInfo:d})"
						class="btn view btn-outline btn-circle blue view_btn">
		                <i class="fa fa-eye"></i> 查看
		            </a>
				</td>
			</tr>
		</tbody>

	</table>
	<p ng-show="!productData.length">记录为空</p>

</div>