<div class="">
	<div class="page-bar">
		<ol class="page-breadcrumb">
			<li>
				<a href="" ui-sref="monitor.dashboard">主页</a>
				<i class="fa fa-circle"></i>
			</li>
			<li>
				<a href="" ui-sref="organization.overview">企业信息</a>
			</li>

		</ol>
	</div>

	<div ng-controller="organizationController" class="page_content">
		<div class="row">
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption font-dark">
							<i class="fa fa-cog"></i>
							<span class="caption-subject bold uppercase"><!--{{ org.titles[org.tid] }}-->企业总表 </span>
						</div>
						<div class="tools" style="margin-left: 10px;">
							<a href="" class="fullscreen" data-original-title="全屏查看"> </a>
						</div>
						<div class="actions">
							<div class="btn-group btn-group-devided" data-toggle="buttons">
								<a ui-sref="organization.overview({tid: 0})" class="btn green btn-outline btn-circle btn-sm" ng-class="{'active': org.tid == 0}">
									所有企业
								</a>
								<a ui-sref="organization.overview({tid: 2})" class="btn blue btn-outline btn-circle btn-sm" ng-class="{'active': org.tid == 2}">
									用能企业
								</a>
								<a ui-sref="organization.overview({tid: 1})" class="btn blue btn-outline btn-circle btn-sm" ng-class="{'active': org.tid == 1}">
									锅炉制造厂
								</a>
								<a ui-sref="organization.overview({tid: 3})" class="btn blue btn-outline btn-circle btn-sm" ng-class="{'active': org.tid == 3}">
									安装企业
								</a>
								<a ui-sref="organization.overview({tid: 4})" class="btn red btn-outline btn-circle btn-sm" ng-class="{'active': org.tid == 4}">
									政府机关
								</a>
								<a ui-sref="organization.overview({tid: 5})" class="btn red btn-outline btn-circle btn-sm" ng-class="{'active': org.tid == 5}">
									监管部门
								</a>
							</div>
						</div>

					</div>

					<div class="portlet-body">
						<!-- BEGIN PROFILE CONTENT -->
						<div ui-view class="profile-content fade-in-up"> </div>
						<!-- END PROFILE CONTENT -->
					</div>
				</div>
			</div>

		</div>

	</div>

</div>