<style>
	#chart_steam {
		width: 100%;
		height: 200px;
	}
    .portlet-fullscreen #chart_steam{
        height: 400px;
    }
</style>
<!-- BEGIN DYNAMIC CHART PORTLET-->
<div class="portlet light portlet-fit bordered">
    <div class="portlet-title runtime_d_header">
        <div class="">
            <h4 class=""> 蒸汽温度</h4>
        </div>

        <div class="tools fullscreen-hide">
            <a href class="fullscreen" data-original-title="全屏查看"> </a>
        </div>
        
    </div>
    <div class="portlet-body">
        <div id="chart_steam" class="chart-body"></div>
    </div>
    
    
    
</div>
<!-- END DYNAMIC CHART PORTLET-->