<!-- BEGIN DYNAMIC CHART PORTLET-->
<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption font-dark">
            <span class="caption-subject bold uppercase"> 每日累计流量及平均热效率趋势图</span>
        </div>
        <div class="tools">         
            <a href="" class="fullscreen" data-original-title="全屏查看"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="tools">
        </div>
        <div id="chart_heat_month" class="chart-body"></div>
    </div>
</div>
<!-- END DYNAMIC CHART PORTLET-->