<!-- BEGIN DYNAMIC CHART PORTLET-->
<div class="portlet light portlet-fit bordered"
     ng-init="chartSmokeComp.refreshChart(0);">
    <div class="portlet-title">
        <div class="caption font-dark">
            <span class="caption-subject bold uppercase"> 烟气成分分析</span>
        </div>

        <div class="tools fullscreen-hide">
            <a href class="fullscreen" ng-click="chartSmokeComp.refreshChart(1);" data-original-title="全屏查看"> </a>
        </div>
        <div class="actions fullscreen-only" style="margin-left: 12px;">           
            <a href class="btn btn-circle btn-icon-only btn-default fullscreen on"
               ng-click="chartSmokeComp.refreshChart(0);" data-original-title="" title=""> </a>
        </div>

        <div class="actions fullscreen-only">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <button type="button" id="chartSmokeComp1"
                        class="btn btn-transparent blue-oleo btn-no-border btn-outline btn-circle btn-sm btn-primary ladda-button"
                        data-style="expand-right" ng-class="{'active': chartSmokeComp.range == 1}"
                        ng-click="chartSmokeComp.refreshChart(1);">
                    <span class="ladda-label">当天</span>
                </button>
                <button type="button" id="chartSmokeComp2"
                        class="btn btn-transparent blue-oleo btn-no-border btn-outline btn-circle btn-sm btn-primary ladda-button"
                        data-style="expand-right" ng-class="{'active': chartSmokeComp.range == 2}"
                        ng-click="chartSmokeComp.refreshChart(2);">
                    <span class="ladda-label">近三天</span>
                </button>
                <button type="button" id="chartSmokeComp3"
                        class="btn btn-transparent blue-oleo btn-no-border btn-outline btn-circle btn-sm btn-primary ladda-button"
                        data-style="expand-right" ng-class="{'active': chartSmokeComp.range == 3}"
                        ng-click="chartSmokeComp.refreshChart(3);">
                    <span class="ladda-label">近一周</span>
                </button>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div id="chart_smoke-components" class="chart-body"></div>
    </div>
</div>
<!-- END DYNAMIC CHART PORTLET-->