<div ng-controller="alarmInfoController" class="">
	<div class="row" style="margin-top: -20px;">
		<div class="col-md-6 col-sm-6">
			<div ng-show="$state.current.name === 'runtime.alarm'"
				 class="form-group" style="margin-top: 10px;" >
					<label class="control-label" style="font-size: 15px; margin-right: 6px;">订阅推送</label>
					<label class="switch switch-lg">
				       <input type="checkbox"
				       	ng-model="runtime.boiler.hasSubscribed"
                   		ng-change="runtime.setSubscribe(runtime.boiler)">
				       <span></span>
				    </label>			    
			</div>
		</div>
		<div class="col-md-6">
			<div id="alarm_tabs"  class="tabbable-line">
				<ul class="nav nav-tabs">
					<li ng-class="{'active':mode === 'current'}">				
						<a href="" ng-click="setMode('current')"> 
							<i class="fa fa-list"></i>
							当前告警列表
						</a>
					</li>
					<li ng-class="{'active':mode === 'history'}">
						<a href="" ng-click="setMode('history')">
							<i class="fa fa-history"></i>
							历史告警列表
						</a>
					</li>	
				</ul>
			</div>		
		</div>
	</div>
	
	<div class="row">
		<!--select pageSize-->
			<div class="col-sm-6">	
				<label>
					每页显示
					<select class="input-sm  w-sm inline v-middle"
	                        ng-model="pageSize" 
	                        ng-options="o as o for o in placement.options"
	                        ng-change="setPageSize(pageSize)">
		            </select>
	               	条
				</label>								
			</div>						
			

			<!--search-->
			<form class="col-sm-6 form-inline text-right">
				<label class="">
					搜索：
					<input type="text" ng-model="search" class="form-control input-sm" placeholder="Search">
				</label>
			</form>
	</div>
	
	<div class="row" ng-init="setMode('current');">			
	<!--current-->
		<div ng-show="mode === 'current'" class="col-md-12">
			<table class="table table-striped table-hover table-bordered table-checkable table-boiler">
				<thead>
					<tr>
						<th ng-click="changeOrder('num')" ng-class="{dropup:order===''}">
							序号
							<span ng-class="{orderColor:orderType==='num'}" class="caret"></span>
						</th>
						<th ng-click="changeOrder('Boiler__Name')" ng-class="{dropup:order===''}">
							告警锅炉
							<span ng-class="{orderColor:orderType==='Boiler__Name'}" class="caret"></span>
						</th>
						<th ng-click="changeOrder('Parameter__Name')" ng-class="{dropup:order===''}">
							监测参数
							<span ng-class="{orderColor:orderType==='Parameter__Name'}" class="caret"></span>
						</th>
						<th ng-click="changeOrder('Priority')" ng-class="{dropup:order===''}">
							优先级
							<span ng-class="{orderColor:orderType==='priority'}" class="caret"></span>
						</th>
						<th ng-click="changeOrder('StartText')" ng-class="{dropup:order===''}">
							告警时间
							<span ng-class="{orderColor:orderType==='StartText'}" class="caret"></span>
						</th>
						<th ng-click="changeOrder('State')" ng-class="{dropup:order===''}">
							状态
							<span ng-class="{orderColor:orderType==='state'}" class="caret"></span>
						</th>
						<th>
							操作
						</th>
		
					</tr>
				</thead>
				
				<tbody>
					<tr ng-repeat="data in alarm.datasource | filter:search | orderBy: order+orderType | range:selectedpage:pageSize">
						<td>
							{{data.num}}
						</td>
						<td>
							{{data.Boiler__Name}}<br />
							<span ng-bind={{"data.Boiler__Enterprise__Name"}} class="label label-default label-sm">
							</span>
						</td>
						<td>
							{{data.Parameter__Name}}
						</td>
						<td>
							<div ng-repeat="p in priorityIcons[data.Priority]" 
								class="priority_icon"
								ng-class="[{'danger': data.Priority >= 2}, {'warning': data.Priority === 1}, {'info': data.Priority <= 0}]">						
							</div>							
						</td>
		
						<td>
							{{data.StartText}} - {{ data.isValid ? '当前' : data.EndText}}  <br />
							<span class="label label-sm label-info">
								{{data.DueText}}
							</span>					
						</td>
						<td>
							<span ng-class="['label', 'label-lg', {'label-default': data.State == 0 || data.State == 10}, {'label-warning': data.State == 1}, {'label-info': data.State == 2}, { 'label-success': data.State == 3}, {'label-danger': data.State == 4}, {'label-primary': data.State == 5} ]" >
		                    	{{ statusTexts[data.State] }}
		                    </span>
		
						</td>
						<td>
							<button type="button" ng-click="openModal(data)" class="btn btn-outline btn-circle blue view_btn">
								<i class="fa fa-eye"></i> 
								查看
							</button>
							<!--<button ng-click="removeData(d.num)" type="button" class="btn btn-default btn-sm"> 删除</button>-->
						</td>
					</tr>
				</tbody>
			</table>
	
			<p ng-show="!totalItems">记录为空</p>
		
		<div class="clearfix">
			<div>
				<div class="float_left count_num">
					共{{totalItems=(alarm.datasource | filter:search).length}} 条记录
				</div>
				<div class="pagination">					       	       	
		            <ul uib-pagination boundary-links="true" total-items="totalItems" boundary-link-numbers="true"
		                        ng-model="selectedpage"  ng-change="setPageSize(pageSize)"                        
		                        items-per-page="pageSize"
		                        max-size="maxSize"  num-pages="totalPage"
		                        previous-text="上一页" next-text="下一页"
		                        first-text="首页" last-text="尾页">
		            </ul>         
				</div>
			</div>
		</div>
		
	
		</div>
		
	<!--history-->
		<div ng-show="mode === 'history'" class="col-md-12">
			<table class="table table-striped table-hover table-bordered table-checkable table-boiler">
				<thead>
					<tr>
						<th ng-click="changeOrder('num')" ng-class="{dropup:order===''}">
							序号
							<span ng-class="{orderColor:orderType==='num'}" class="caret"></span>
						</th>
						<th ng-click="changeOrder('Boiler__Name')" ng-class="{dropup:order===''}">
							告警锅炉
							<span ng-class="{orderColor:orderType==='Boiler__Name'}" class="caret"></span>
						</th>
						<th ng-click="changeOrder('Parameter__Name')" ng-class="{dropup:order===''}">
							监测参数
							<span ng-class="{orderColor:orderType==='Parameter__Name'}" class="caret"></span>
						</th>
						<th ng-click="changeOrder('Priority')" ng-class="{dropup:order===''}">
							优先级
							<span ng-class="{orderColor:orderType==='Priority'}" class="caret"></span>
						</th>
						<th ng-click="changeOrder('StartText')" ng-class="{dropup:order===''}">
							告警时间
							<span ng-class="{orderColor:orderType==='StartText'}" class="caret"></span>
						</th>				
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in alarm.historyData | filter:search | orderBy: order+orderType | range:selectedpage:pageSize"
						 ng-class="[{'border-danger': data.Priority >= 2}, {'border-warning': data.Priority == 1}, {'border-info': data.Priority <= 0}, {'demo': !!data.IsDemo}]">
						<td>
							{{data.num}}
						</td>
						<td>
							{{data.Boiler__Name}}<br />
							<span ng-bind={{"data.Boiler__Enterprise__Name"}} class="label label-default label-xs">						
							</span>
						</td>
						<td>
							{{data.Parameter__Name}}
						</td>
						<td>
							<div ng-repeat="p in priorityIcons[data.Priority]"
		                         class="priority_icon"
		                         ng-class="[{'danger': data.Priority >= 2}, {'warning': data.Priority === 1}, {'info': data.Priority <= 0}]">
		                    </div>
						</td>
		
						<td>
							{{ data.StartText }} - {{ data.EndText }}  <br />
							<span class="label label-sm"
								ng-class="[{'label-info': !data.IsDemo}, {'label-default': !!data.IsDemo}]">
								{{data.DueText}}
							</span>	
						</td>
						
					</tr>
				</tbody>
			</table>
	
			<p ng-show="!totalHistoryItems">记录为空</p>
		
			<div class="clearfix">
			<div>
				<div class="float_left count_num">
					共{{totalHistoryItems=(alarm.historyData | filter:search).length}} 条记录
				</div>
				<div class="pagination">					       	       	
		            <ul uib-pagination boundary-links="true" total-items="totalHistoryItems" boundary-link-numbers="true"
		                        ng-model="selectedpage"  ng-change="setPageSize(pageSize)"                        
		                        items-per-page="pageSize"
		                        max-size="maxSize"  num-pages="totalPage"
		                        previous-text="上一页" next-text="下一页"
		                        first-text="首页" last-text="尾页">
		            </ul>         
				</div>
			</div>
		</div>
		
		</div>
			
		
	</div>
	
</div>



