
<div class="input-append">
    <div class="row">
        <div class="form-location col-md-4 col-sm-4 col-xs-8">
            <div class="form-group col-md-4 col-sm-4 col-xs-4">
                <select required="" class="form-control" ng-model="address.province" 
                	ng-options="key as key for (key,value) in division" 
                	ng-change="address.city='';address.district='';changeProvince(address.province) ">
					<option value="">省</option>
				</select>
            </div>
            <div class="form-group col-md-4 col-sm-4 col-xs-4">
                <select class="form-control" ng-model="address.city" 
                	ng-options="key as key for (key,value) in division[address.province]" 
                	ng-change="address.district=''; changeCity(address.city)">
					<option value="">市</option>
				</select>
            </div>
            <div class="form-group col-md-4 col-sm-4 col-xs-4">
                <select class="form-control" ng-model="address.district" 
                	ng-options="value as value for value in division[address.province][address.city]"
                	ng-change="changeRegion(address.district)">>
					<option value="">区</option>
				</select>
            </div>
        </div>
        <div class="form-switch col-md-2 col-sm-2 col-xs-4">
            <div class="form-group">
                <input bs-switch
                       ng-model="aBurning"                       
                       type="checkbox"
                       switch-on-text="燃烧"
                       switch-off-text="停燃"
                       switch-on-color="info"
                       switch-off-color="danger"
                       switch-animate="{{ true }}"
                       switch-size="{{ size }}"
                       switch-label="{{ label }}"
                       switch-icon="{{ icon }}"
                       switch-radio-off="{{ true }}"
                       switch-label-width="auto"
                       switch-handle-width="auto"
                       switch-wrapper="{{ wrapper }}"
                       switch-inverse="false"
                       style="width: 100%">
            </div>
        		
        
        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            
            <ui-select ng-model="aOrg" ng-change="filterBoilers(aOrg)" theme="bootstrap">
                <ui-select-match placeholder="输入企业名称或在列表中选择...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices group-by="'type'" repeat="item in organizations | filter:$select.search">
                    <span ng-bind="item.name"></span>                   
                </ui-select-choices>
            </ui-select>
            
        </div>
    </div>

    <div class="row">
        <div class="form-module col-md-6 col-sm-6 col-xs-12">
            <div class="form-group first col-md-4 col-sm-4 col-xs-4">
                <select class="form-control" ng-model="aForm" 
                	ng-change="selectModel(aForm)" 
                	ng-options="item.Name for item in forms">               	
					
				</select>
            </div>
            <div class="form-group col-md-4 col-sm-4 col-xs-4">
               <select class="form-control" ng-model="aFuel" 
               	ng-change="selectFuel(aFuel)" 
               	ng-options="fuel.Name for fuel in fuels">
					
				</select>
            </div>
            <div class="form-group last col-md-4 col-sm-4 col-xs-4">
                <select class="form-control" ng-model="aEvaporate" 
                	ng-change="selectaEvaporate(aEvaporate)" 
                	ng-options="item.Text for item in evaporates">
					
				</select>
            </div>
        </div>
        <div class="form-info col-md-6 col-sm-6 col-xs-12">
            <div class="form-group form-input col-md-9 col-sm-9 col-xs-10">
                <input type="text" ng-model="aQuery" ng-change="filterBoilers()" class="form-control" placeholder="输入锅炉信息进行搜索">
            </div>
            <div class="form-group col-md-3 col-sm-3 col-xs-2">
                <button type="button" ng-click="initSearch(); filterBoilers();" class="btn grey-cascade btn-outline btn-block sbold uppercase">
                    <i class="fa fa-refresh"></i>
                    	重置
                </button>
            </div>
        </div>
    </div>
   
</div>