<div ng-controller="alarmController" class="alarm">
	
	<div class="data_header">
		<div class="clearfix">
			<div class="subscription">
				订阅推送
			</div>
			<div class="">
				<ul class="nav nav-tabs">
				  <li role="presentation" class="active"><a href="">当前告警列表</a></li>
				  <li role="presentation"><a href="">历史告警列表</a></li>
				 
				</ul>
			</div>
		</div>
		<div class="data_nav_h">
			<nav>
				<div class="container-fluid">
					<!--select pageSize-->
					<div class="dropdown pagesize">
						每页显示
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								{{pageSize}}
								<span class="caret"></span>
						</button> 条
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li>
								<a ng-click="selectedPageSize(alarm,5)">5</a>
							</li>
							<li>
								<a ng-click="selectedPageSize(alarm,10)">10</a>
							</li>
							<li>
								<a ng-click="selectedPageSize(alarm,20)">20</a>
							</li>
			
						</ul>
					</div>
			
					<!--search-->
					<form class="navbar-form navbar-right">
						<div class="form-group">
							搜索：
							<input type="text" ng-model="search" class="form-control" placeholder="Search">
			
						</div>
			
					</form>
				</div>
			</nav>
		</div>
	</div>
	
	<div class="maintain_body">
		<table class="table" border="0" >
			<thead>
				<tr>
					<th>
						序号
					</th>
					<th>
						告警锅炉
					</th>
					<th>
						监测参数
					</th>
					<th>
						优先级
					</th>
					<th>
						告警时间
					</th>
					<th>
						状态
					</th>
					<th>
						操作
					</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="d in dataList">
					<td>
						{{d.num}}
					</td>
					<td>
						{{d.boiler}}
					</td>
					<td>
						{{d.monitor}}
					</td>
					<td>
						{{d.priority}}
					</td>
					
					<td>
						{{d.time}}
					</td>
					<td>
						{{d.state}}
					</td>
					<td>
						{{d.operating}}
					</td>
				</tr>
			</tbody>
			
		</table>
		<p ng-show="!alarm.length">记录为空</p>
		
		
		<!--pagination-->
									<nav aria-label="Page navigation">
										<div class="float_left count_num">
											共{{count}}条记录
										</div>
									  <ul class="pagination">
									  	<li>
									      <a ng-click="p_index()">
									        <span aria-hidden="true">首页</span>
									      </a>
									    </li>
									    <li>
									      <a ng-click="Previous()">
									        <span  aria-hidden="true">上一页</span>
									      </a>
									    </li>
									    <li ng-repeat="page in pageList"  ng-class="{active:isActivePage(page)}">
									    	<a ng-click="selectPage(page)">
									    		{{page}} 
									    	</a>
									    </li>
									    
									    <li>
									      <a ng-click="Next()">
									        <span aria-hidden="true">下一页</span>
									      </a>
									    </li>
									    <li>
									      <a ng-click="p_last()">
									        <span aria-hidden="true">尾页</span>
									      </a>
									    </li>
									  </ul>
									</nav>
									
	</div>
	
	
	
</div>