
				<div>
					<div class="modal-header">
						<button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">计算参数设置 
							<span>
								{{data.model}}
								</span>
						</h4>
           
					</div>
					<div class="modal-body">
						<form  class="" action="" method="post">
					
							<div class="data_header">
								分析参数
							</div>
							<div class="modal_form">
								<div class="form-group col-md-6">
									<label class="" for="">排烟热损失计算系数 m</label>
									<div class="">
										<input ng-model="data.model" type="text" class="form-control" id="" placeholder="0">
									</div>									
								</div>
								
								<div class="form-group col-md-6">
									<label class="" for="">排烟热损失计算系数 n</label>
									<div class="">
										<input ng-model="data.evaporation" type="text" class="form-control" id="" placeholder="0">
									</div>									
								</div>
								
								<div class="form-group col-md-12">
									<label class="" for="">燃料收到基低位发热量</label>
									<div class="">
										<input ng-model="data.evaporation" type="text" class="form-control" id="" placeholder="0">
									</div>
									
								</div>
							</div>
					
							<div class="data_header">
								实时参数
							</div>
							<div class="modal_form">
								<div class="form-group col-md-4">
									<label class="" for="">排烟温度</label>
									<div class="">
										<input ng-model="data.evaporation" type="text" class="form-control" id="" placeholder="0" disabled>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="" for="">送风温度</label>
									<div class="">
										<input ng-model="data.evaporation" type="text" class="form-control" id="" placeholder="0" disabled>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label class="" for="">排烟氧量</label>
									<div class="">
										<input ng-model="data.evaporation" type="text" class="form-control" id="" placeholder="0" disabled>
									</div>
								</div>
							</div>
					
							<div class="data_header">
								参数修改计算值
							</div>
							<div class="modal_form">
								<div class="form-group col-md-6">
									<label class="" for="">排烟热损失(q2)</label>
									<div class="">
										<input ng-model="data.evaporation" type="text" class="form-control" id="" placeholder="0">
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="" for="">气体未完全燃烧热损失(q3)</label>
									<div class="">
										<input type="text" class="form-control" id="" placeholder="0">
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="" for="">散热损失(q5)</label>
									<div class="">
										<input ng-model="data.evaporation" type="text" class="form-control" id="" placeholder="0">
									</div>
								</div>
								<div class="form-group col-md-6">
									<label class="" for="">过量空气系数</label>
									<div class="">
										<input ng-model="data.evaporation" type="text" class="form-control" id="" placeholder="0">
									</div>
								</div>
								<div class="form-group col-md-12">
									<label class="" for="">参数修改后锅炉效率</label>
									<div class="">
										<input ng-model="data.evaporation" type="text" class="form-control" id="" placeholder="0">
									</div>
								</div>
							</div>
					
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success">恢复初始值</button>
						<button type="button" class="btn btn-success">参数计算</button>
						<button class="btn btn-primary" ng-click="ok()">
					                确认
					            </button>
						<button class="btn btn-warning" ng-click="cancel()">
					                退出
					            </button>
					</div>
					</div>
				
				