	<div>
					<div class="modal-header">
						<button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title float_left">告警信息</h4>
						<div class="float_right">
							<h5 class="text-right">
								{{data.boiler}}
							</h5>
							<div class="">
								蒸汽温度过高 2017-10-13 08:12 - 当前
							</div>
						</div>
							
						
           
					</div>
					<div class="modal-body">
						<div class="">
							ddfasfd
						</div>
						
						
						
						<form  class="" action="" method="post">
							<label>备注信息：</label>
							<textarea class="form-control" name="" rows="6" cols="" placeholder="在这里输入内容"></textarea>
							
						</form>
					</div>
					<div class="modal-footer">
						
						<button class="btn btn-primary" ng-click="ok()">
					                提交
					    </button>
						<button class="btn btn-default" ng-click="cancel()">
					         	取消
					    </button>
					</div>
					</div>
				
				
