
			<div ng-controller="runtimedataController" class="runtime_view">
				<div class="row">
					<div class="col-md-4  runtime_data1">
						<div class="data_box">
							<div class="runtime_d_header">
								<h3>运行时参数</h3>
								<div class="float_right runtime_date">
									<span>采样时间: 2017-09-19 17:18:09</span>
								</div>
							</div>
							
							<div class="run_data_box">
								<table class="table" border="0">
									<tr>
										<th>测量项目</th>
										<th>测量值</th>
										<th>单位</th>
										<th>状态</th>
									</tr>
									<tr>
										<td>蒸汽温度</td>
										<td>38.6</td>
										<td>℃</td>
										<td><button type="button" class="btn btn-info btn-xs">正常</button></td>
									</tr>
									<tr>
										<td>排烟温度(低)</td>
										<td>38.6</td>
										<td>℃</td>
										<td><button type="button" class="btn btn-info btn-xs">正常</button></td>
									</tr>
								</table>
							</div>
							
							
						</div>
						
					</div>
					<div class="col-md-8 runtime_data2">					
						<div class="data_box">
							<div class="runtime_d_header">
								<h4>蒸汽温度</h4>
								<div class="float_right full">
									<span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
								</div>
							</div>
							<div class="">
								
							</div>
							
						</div>
						
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4 col-sm-12 col-xs-12 runtime_data1">
						<div class="data_box">
							<div class="runtime_d_header">
								<h3>基本信息</h3>
								<div class="float_right">
									<a class="btn btn-sm btn_lightblue" href="#" role="button">查看详情</a>
								</div>
							</div>
							<div class="run_data_box">
								<table class="table" border="0" >
									<tr>
										<th width="40%">注册码</th>
										<td>{{data[0].registrationCode}}</td>
									</tr>
									<tr>
										<th>锅炉型号</th>
										<td>{{data[0].model}}</td>
									</tr>
									<tr>
										<th>锅炉燃料</th>
										<td>燃气</td>
									</tr>
									<tr>
										<th>生产厂家</th>
										<td>{{data[0].company}}</td>
									</tr>
									<tr>
										<th>使用企业</th>
										<td>{{data[0].company}}</td>
									</tr>
									<tr>
										<th>额定蒸发量</th>
										<td>2 t/h</td>
									</tr>
									<tr>
										<th>对应终端</th>
										<td>Data</td>
									</tr>
									
								</table>
								
							</div>
							
						</div>
						
					</div>
					<div class="col-md-8 col-sm-12 col-xs-12 runtime_data2">
						<div class="data_box">
							<div class="runtime_d_header">
								<h4>排烟温度（低）</h4>
								<div class="float_right  full">
									<span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
								</div>
							</div>
							
						</div>
						
					</div>
				</div>
				
				
			</div>
			
		</div>
