<div class="page-bar">
	<ol class="breadcrumb">
		<li>
			<a href="" ui-sref="dashboard">首页</a>
		</li>
		<li>
			<a href="" >用户信息</a>
		</li>

	</ol>
</div>

<div ng-controller="profileController" class=" clearfix">
	<div class="profile-sidebar col-md-4">
		<div class="back_w">
			<div class="profile_userpic">
				<img src="../images/avatar0.png"/>
			</div>
			
			<div class="profile_usertitle">
				<div class="profile_usertitle_name">
					厚德能源测试
				</div>
				<div class="profile_usertitle_job">
					<span class="label label-info">
						管理员
					</span>					
				</div>
				<div class="profile_usertitle_job">
					
				</div>
			</div>
			
			<div class="profile-usermenu">				
				<a href="">
					账户设置
				</a>
				
			</div>
		
		</div>
		
		<div class="back_w">
			<div class="row profile_stat">
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="profile_stat_title">
						655
					</div>
					<div class="profile_stat_text">
						在用锅炉
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="profile_stat_title">
						455
					</div>
					<div class="profile_stat_text">
						机构企业
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="profile_stat_title">
						55
					</div>
					<div class="profile_stat_text">
						平台用户
					</div>
				</div>				
			</div>
			
			<div class="row">
				<div class="">
					
				</div>
				<div class="profile_desc_text">
					阿杰
				</div>
			</div>
		</div>
	</div>	
	
	<div class="profile-content col-md-8">
		<div class="data_top clearfix">
			<h5 class="float_left">
				账户设置
			</h5>
			<div class="float_right tabtable-line">
				<ul class="nav nav-tabs">
					<li ui-sref-active="active" ng-class="{active:isActiveTag(profile.account)}">
						<a href="" ui-sref=".account">
							个人信息
						</a>
					</li>
					<li ui-sref-active="active" ng-class="{active:isActiveTag(profile.password)}">
						<a href="" ui-sref=".password">
							修改密码
						</a>
					</li>
				</ul>				
				
			</div>
			
		</div>
		<div class="portlet_body">
			<div ui-view=""></div>
		</div>
	</div>

		
	
	
</div>

