<div class="">
	<form action="" method="post">
		<div class="form-group">
			<label>登录名</label>
			<input type="text" placeholder="Login Name" ng-model="profile.aUsername" class="form-control" disabled />
		</div>
		<div class="form-group">
			<label>全名</label>
			<input type="text" placeholder="Full Name" ng-model="profile.aName" class="form-control" />
		</div>
		<div class="form-group">
			<label>手机号</label>
			<input type="text" placeholder="+86 130 0000 0000" ng-model="profile.aMobile" class="form-control" />
		</div>
		<div class="form-group">
			<label>邮箱地址</label>
			<input type="email" placeholder="act@temp.com" ng-model="profile.aEmail" class="form-control" />
		</div>

		<div class="margiv-top-10">
			<a href ng-click="profile.updateUser()" class="btn green-haze"> 保存更新 </a>
            <a href ng-click="profile.resetUser()" class="btn default"> 取消 </a>
		</div>
	</form>
</div>