<div class="page-bar">
	<ol class="breadcrumb">
		<li>
			<a href="" ui-sref="dashboard">首页</a>
		</li>
		<li>
			<a href="">系统帮助</a>
		</li>
	</ol>
</div>

<div ng-controller="wikiController" class="page_content wiki">
	<div class="">
		<div class="float_left">
			<h4 class="">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
					帮助列表
				</h4>
			<!--<div class="float_right">
				<ul active="active">
					<li>
						<a href="">
							用户角色
						</a>
					</li>
					<li>
						<a href="">
							更新日志
						</a>
					</li>
				</ul>
			</div>-->
		</div>

		<uib-tabset active="active" type="tabs" class="tabtable-line">
			<uib-tab index="0" heading="更新日志">
				<div class="tab-pane">
					<uib-accordion close-others="true">
						<div uib-accordion-group heading="近期更新" class="panel-success" is-open="true">
							<p> 2017.7.10 更新 </p>
							<p> 数据更新： </p>
							<ul>
								<li> [U]更新了锅炉燃烧状态的取样时间，根据丢包率和实时性的需求，定为15min。</li>
								<li> [U]更新了锅炉燃烧状态的模拟数据规则。</li>
							</ul>
							<p> 界面更新： </p>
							<ul>
								<li> [U]更新了锅炉基本信息填写中必填项的提示信息。</li>
								<li> [U]更新了主监控台运行参数页面采样时间的显示格式。</li>
							</ul>
							<p> 错误修复： </p>
							<ul>
								<li> [F]修复一个锅炉基本信息上传时格式不符合的问题。 </li>
							</ul>

							<hr>
							<p> 2017.6.24 更新 </p>
							<p> 功能更新： </p>
							<ul>
								<li> [A]新增了历史告警的列表信息（其中，模拟数据所生成的告警信息显示为灰色）。</li>
								<li> [A]新增了终端原始数据的调试界面，管理员以上权限可用。</li>
								<li> [A]关闭锅炉的数据模拟时，可以选择一并删除已生成的模拟数据，以防止数据污染。</li>
								<li> [U]调整了终端连接状态的显示规则。</li>
							</ul>
							<p> 界面更新： </p>
							<ul>
								<li> [U]更新了设备概览页面中，热水锅炉的炉型图。</li>
								<li> [A]锅炉历史信息中，新增了切换时段的加载显示。</li>
								<li> [U]调整了左边栏的显示高度。</li>
							</ul>
							<p> 错误修复： </p>
							<ul>
								<li> [F]修复一个运行参数列表中，部分参数显示异常的问题。 </li>
								<li> [F]修复一个删除终端时，重新添加相同编号的终端的数据异常问题。 </li>
							</ul>

							<hr>
							<p> 2017.6.20 更新 </p>
							<p> 功能更新： </p>
							<ul>
								<li> [U]重新设计了运行时数据图表的数据结构和加载流程，极大提高了加载速度。</li>
								<li> [A]添加了修改终端信息时，终端号的验证流程，必须输入六位终端号方可提交。</li>
							</ul>
							<p> 界面更新： </p>
							<ul>
								<li> [U]运行参数按时间周期查询数据时，加载过程中添加加载动画。</li>
							</ul>
							<p> 错误修复： </p>
							<ul>
								<li> [F]修复一个锅炉绑定终端时选中终端信息无法显示的问题。 </li>
								<li> [F]修复一个终端连接状态显示的问题，根据终端实际的数据状态进行显示。 </li>
								<li> [F]修复图表数据加载过程中，数据类型不具合的问题。 </li>
							</ul>

							<hr>
							<p> 2017.6.16 更新 </p>
							<p> 功能更新： </p>
							<ul>
								<li> [U]根据新的权限结构调整主体功能。 </li>
								<li> [O]优化了告警加载流程，大幅度提高其加载效率，同时，用户可在左边栏查看目前已激活告警的数量。 </li>
								<li> [U]重新设计了用户登录流程，机构管理员或管理员以上权限人员可在账户管理界面新增相关用户，登录流程移除了角色选择框，新注册用户可联系管理员进行激活。</li>
							</ul>
							<p> 错误修复： </p>
							<ul>
								<li> [F]修复一个微信账户绑定流程的问题。 </li>
								<li> [F]修复一个微信菜单格式不兼容的问题。 </li>
							</ul>
							<p> 数据更新： </p>
							<ul>
								<li> [O]优化锅炉增减流程，删除锅炉时，移除相关的测试数据。 </li>
							</ul>
							<p> 微信端更新： </p>
							<ul>
								<li> [U]调整告警推送优先级，低优先级的告警将不再通过微信服务号进行推送。 </li>
								<li> [U]调整微信服务号的自定义菜单。 </li>
								<li> [F]修复微信服务号推动信息中，告警等级显示异常的问题。</li>
								<li> [U]微信小程序部分说明文字更新。 </li>
								<li> [A]微信小程序燃料记录新增长按删除功能。 </li>
							</ul>
							<hr>
							<p> 2017.6.14 更新 </p>
							<p> 界面更新： </p>
							<ul>
								<li> [U]功能菜单栏按界面固定，并修复固定所带来的页面渲染破损的问题。</li>
							</ul>
							<p> 数据更新： </p>
							<ul>
								<li> [O]为锅炉信息建立在线缓存，提高其加载效率。 </li>
								<li> [U]调整数据生成机制，加入拟合和线性插值算法。 </li>
							</ul>
							<p> 错误修复： </p>
							<ul>
								<li> [F]修复一个告警数据加载流程中，引起界面渲染卡死的问题。 </li>
							</ul>
							<hr>
						</div>

						<div uib-accordion-group heading="历史更新" class="panel-info">
							<p> 2017.6.3 更新 </p>
							<p> 功能更新： </p>
							<ul>
								<li> [A]重新设计了图表模块，现在可以点击每个图表右上角按钮，进入全屏模式后，选择查询时间段。</li>
								<li> [U]更新了用户注册流程中企业选择模式，可以通过输入和分组来快速选择。 </li>
								<li> [U]调整历史信息显示模式，新增分页处理。 </li>
							</ul>
							<p> 错误修复： </p>
							<ul>
								<li> [F]修复一个首页用户缓存导致无法登陆的问题。 </li>
							</ul>

							<hr>
							<p> 2017.6.1 更新 </p>
							<p> 功能更新： </p>
							<ul>
								<li> [U]将微信通道和炉管家公众号关联。 </li>
								<li> [U]调整告警触发机制，实现告警信息通过公众号进行推送。 </li>
							</ul>
							<p> 错误修复： </p>
							<ul>
								<li> [F]修复一个微信账户绑定流程的问题。 </li>
								<li> [F]修复一个微信菜单格式不兼容的问题。 </li>
							</ul>
							<p> 数据更新： </p>
							<ul>
								<li> [O]优化了统计数据的计算性能。 </li>
							</ul>
							<hr>
							<p> 2017.5.27 更新 </p>
							<p> 功能更新： </p>
							<ul>
								<li> [A]新增微信服务号模板消息支持。 </li>
								<li> [U]更新了微信账户同步机制，使小程序、网页登陆、和服务号关注用户可以统一。</li>
								<li> [A]统计模块增加了平台锅炉累计运行时间统计，当月日均累计流量统计，以及平台设备功率分布统计。 </li>
							</ul>
							<p> 数据更新： </p>
							<ul>
								<li> [O]优化了锅炉加载缓存，提升加载效率。 </li>
								<li> [F]为樱花锅炉流量量程重新调整为 x0.6。 </li>
								<li> [U]重新设计了告警生成和处理机制，让告警信息可以和推送通道关联。 </li>
							</ul>
							<hr>
							<p> 2017.5.20 更新 </p>
							<p> 功能更新： </p>
							<ul>
								<li> 新增了热水锅炉炉型，在锅炉炉型中选择<b>热水锅炉</b>即可启用。 </li>
								<li> 炉型图数据每<b>20秒</b>自动刷新一次。 </li>
								<li> 炉型图增加了火焰动态效果。 </li>
							</ul>
							<p> 界面更新： </p>
							<ul>
								<li> 左下方新增"炉管家"logo。 </li>
							</ul>
							<p> 数据更新： </p>
							<ul>
								<li> 为樱花锅炉流量量程做了特殊处理(x0.4)。 </li>
							</ul>
							<p> 错误修复： </p>
							<ul>
								<li> 修复一个首页数据重复下拉的问题。 </li>
								<li> 修复动态炉型图加载异常的问题。 </li>
							</ul>
							<hr>
							<p> 2017.5.18 更新 </p>
							<p> 功能更新： </p>
							<ul>
								<li> 新增统计界面（待进一步完善）。 </li>
								<li> 部分企业可定制标题顶图。 </li>
							</ul>
							<p> 错误修复： </p>
							<ul>
								<li> 修复某些特殊情况下数据传输中断的问题。 </li>
								<li> 根据现有流量计的量程修改了计量单位。 </li>
							</ul>
							<hr>
							<p> 2017.5.13 更新 </p>
							<p> 功能更新： </p>
							<ul>
								<li> 主监控台新增列表模式和地图模式。 </li>
								<li> 重新设计了锅炉维保流程，增加维保相关条目选项。 </li>
								<li> 重新设计了告警流程和展示方式，现在可以在告警确认的过程中查看告警细节以进行诊断。 </li>
							</ul>
							<p> 数据优化： </p>
							<ul>
								<li> 优化了告警数据的触发情况。 </li>
							</ul>
							<p> 错误修复： </p>
							<ul>
								<li> 修复一个新增锅炉无效的问题。 </li>
								<li> 修复新增锅炉炉型图无法展示的问题。 </li>
								<li> 修复从终端进入锅炉详情返回错误的问题。 </li>
							</ul>
							<hr>
							<p> 2017.5.8 更新 </p>
							<p> 界面优化： </p>
							<ul>
								<li> 重新设计了加载动画和页面加载流程，修复了firefox下面出现angular渲染的问题。 </li>
								<li> 进一步优化了图表界面，调整了时间显示顺序，并为每个图表新增了全屏模式。 </li>
							</ul>
							<p> 数据优化： </p>
							<ul>
								<li> 优化了历史数据的抓取模型，可以在历史数据清单中展示告警情况。 </li>
							</ul>
							<p> 错误修复： </p>
							<ul>
								<li> 修复一个企业信息加载异常的问题。 </li>
								<li> 修复告警信息无法显示的问题。 </li>
							</ul>
							<hr>
							<p> 2017.5.5 更新 </p>
							<p> 界面优化： </p>
							<ul>
								<li> 重新规划了锅炉运行参数中图表的显示情况，现在可以正确显示运行时数据的时间。 </li>
								<li> 优化了主监控台在不同屏幕尺寸下的适配情况。 </li>
							</ul>
							<p> 访问优化： </p>
							<ul>
								<li> 强制采用https访问，并采用新域名www.holderboiler.com。 </li>
							</ul>
							<p> 数据优化： </p>
							<ul>
								<li> 优化了每日累计流量和平均热效率的数据模型。 </li>
							</ul>
							<hr>
							<p> 2017.5.3 更新 </p>
							<p> 数据优化： </p>
							<ul>
								<li> 优化锅炉历史数据的抓取和展现机制，目前取样间隔为5分钟。 </li>
							</ul>
							<p> 性能优化： </p>
							<ul>
								<li> 将所有外部资源更换为本地资源，提高加载速度。 </li>
							</ul>
							<p> 界面优化： </p>
							<ul>
								<li> 将企业和锅炉选择等大批量选择模块更新为可输入关键词进行筛选。 </li>
							</ul>
							<hr>
							<p> 2017.4.30 更新 </p>
							<p> 界面优化： </p>
							<ul>
								<li> 锅炉历史数据新增时间筛选。 </li>
							</ul>
							<p> 性能优化： </p>
							<ul>
								<li> 优化缓存策略，提高历史数据加载速度。 </li>
								<li> 优化终端输入写入性能。 </li>
							</ul>
							<hr>
							<p> 2017.4.28 更新 </p>
							<p> 新增功能： </p>
							<ul>
								<li> 创建终端 </li>
								<li> 创建锅炉 </li>
								<li> 修改和删除终端信息 </li>
								<li> 修改和删除锅炉信息</li>
								<li> 查看终端和锅炉的绑定情况 </li>
								<li> 终端与锅炉绑定 </li>
								<li> 终端与锅炉解绑 </li>
							</ul>
							<p> 界面优化： </p>
							<ul>
								<li> 新增更新日志。 </li>
								<!--<li> 优化了锅炉详情界面的数据展示和返回流程，可以根据不同的接入点返回到各自界面了。</li>-->
							</ul>
							<p> 修复BUG： </p>
							<ul>
								<li> 修复了一个主键未写入而导致数据冲突的严重问题。 </li>
							</ul>
							<hr>
							<p> 2017.4.26 更新 </p>
							<p> 新增功能： </p>
							<ul>
								<li> 修改和配置锅炉详细信息 </li>
							</ul>
							<p> 界面优化： </p>
							<ul>
								<li> 重新设计了锅炉信息详情页面 </li>
							</ul>
							<p> 性能优化： </p>
							<ul>
								<li> 优化了首页加载流程，提升加载速度。 </li>
								<li> 优化锅炉数据缓存，减少查询所消耗的时间。 </li>
								<li> 调整底层框架，优化数据加载和页面渲染。</li>
							</ul>
							<p> 数据和设备接口： </p>
							<ul>
								<li> 建立线程池，优化流动IP之下数据传输的稳定性。 </li>
								<li> 优化接口引擎和主数据库的关联模式，减少数据通道的性能开销。 </li>
								<li> 建立燃料模块在主平台展现的数据支撑。 </li>
							</ul>
							<p> 微信端更新：</p>
							<ul>
								<li> 创建分页机制，极大提升加载效率。 </li>
							</ul>
							<hr>
							<p> 其他更新待补充…… </p>
						</div>
					</uib-accordion>
				</div>

			</uib-tab>
			<uib-tab index="1" heading="用户角色">
				<div class="tab-pane">
					<uib-accordion close-others="true">
						<div uib-accordion-group heading="1. 用户角色是如何划分的？" class="panel-success" is-open="true">
							<p style="text-indent: 2em;">用户角色分为三类：管理员、机构用户（企业用户）、以及普通用户。</p>
							<ul>
								<li>管理员根据自己的权限区域，可以访问和管理大部分系统信息和用户信息，审核注册用户，并对用户进行权限分配。</li>
								<li>机构用户根据所在机构的类型，分为锅炉制造厂用户和用能企业用户，可以查阅和维护所属机构的基本信息，以及机构所用使用的用能设备信息以及其运行情况（锅炉制造厂用户可以维护本厂所生产的用能设备），同时，企业用户可以管理所在机构的用户账户情况。</li>
								<li>普通用户目前视为游客用户，仅可以查阅本平台的演示信息，可以测试和体验平台的功能。</li>
							</ul>
						</div>

						<div uib-accordion-group heading="2. 用户角色各有什么权限？" class="panel-info">
							<table class="table table-bordered table-hover table-checkable order-column table-boiler" id="wiki_user_permission_table">
								<thead>
									<tr>
										<th colspan="2" class="active"> </th>
										<th width="11.5%" class="warning">超级管理员</th>
										<th width="11.5%" class="warning">管理员</th>
										<th width="11.5%" class="warning">客服</th>
										<th width="11.5%" class="info">机构管理员</th>
										<th width="11.5%" class="info">机构用户</th>
										<th width="11.5%">普通用户</th>
										<th width="11.5%">未激活用户</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th rowspan="3" class="active">锅炉<br>监控</th>
										<td class="active">锅炉基本信息</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护所有信息">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护所有信息">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护服务范围内的信息">
												<i class="fa fa-check-square-o font-blue-steel"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护本机构信息">
												<i class="fa fa-folder font-blue"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护本机构信息">
												<i class="fa fa-folder font-blue"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="仅可查看演示信息">
												<i class="fa fa-tv font-yellow-lemon"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="仅可查看演示信息">
												<i class="fa fa-tv font-yellow-lemon"></i>
											</div>
										</td>
									</tr>
									<tr>
										<td class="active">锅炉运行情况</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护所有信息">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护所有信息">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护服务范围内的信息">
												<i class="fa fa-check-square-o font-blue-steel"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护本机构信息">
												<i class="fa fa-folder font-blue"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护本机构信息">
												<i class="fa fa-folder font-blue"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="仅可查看演示信息">
												<i class="fa fa-tv font-yellow-lemon"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="仅可查看演示信息">
												<i class="fa fa-tv font-yellow-lemon"></i>
											</div>
										</td>
									</tr>
									<tr>
										<td class="active">锅炉告警信息</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护所有信息">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护所有信息">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护服务范围内的信息">
												<i class="fa fa-check-square-o font-blue-steel"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护本机构信息">
												<i class="fa fa-folder font-blue"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护本机构信息">
												<i class="fa fa-folder font-blue"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="仅可查看演示信息">
												<i class="fa fa-tv font-yellow-lemon"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="仅可查看演示信息">
												<i class="fa fa-tv font-yellow-lemon"></i>
											</div>
										</td>
									</tr>
							
									<tr>
										<th class="active">企业管理</th>
										<td class="active">企业基本信息</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护所有信息">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护所有信息">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护服务范围内的信息">
												<i class="fa fa-check-square-o font-blue-steel"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护本机构信息">
												<i class="fa fa-folder font-blue"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护本机构信息">
												<i class="fa fa-folder font-blue"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="仅可查看演示信息">
												<i class="fa fa-tv font-yellow-lemon"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="仅可查看演示信息">
												<i class="fa fa-tv font-yellow-lemon"></i>
											</div>
										</td>
									</tr>
									<tr>
										<th rowspan="3" class="active">账号管理</th>
										<td class="active">账号列表信息</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护所有账号信息">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护除管理员以外的所有账号信息">
												<i class="fa fa-check-circle-o font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护服务范围内的机构账号（机构管理员和机构用户）以及普通账号信息">
												<i class="fa fa-check-square-o font-blue-steel"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护本机构用户信息">
												<i class="fa fa-folder font-blue"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅本机构用户信息">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="不可用">
												<i class="fa fa-ban font-red"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="不可用">
												<i class="fa fa-ban font-red"></i>
											</div>
										</td>
									</tr>
									<tr>
										<td class="active">账号激活</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可激活所有账号">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可激活除管理员以外的所有账号">
												<i class="fa fa-check-circle-o font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可激活服务范围内的机构账号（机构管理员和机构用户）和普通账号">
												<i class="fa fa-check-square-o font-blue-steel"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可激活本机构用户账号">
												<i class="fa fa-folder font-blue"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="不可用">
												<i class="fa fa-ban font-red"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="不可用">
												<i class="fa fa-ban font-red"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="不可用">
												<i class="fa fa-ban font-red"></i>
											</div>
										</td>
									</tr>
									<tr>
										<td class="active">个人信息</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="可查阅和维护">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="可查阅和维护">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
									</tr>
							
									<tr>
										<th class="active">终端管理</th>
										<td class="active">终端信息</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护所有终端">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护所有终端">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护服务范围内的终端">
												<i class="fa fa-check-square-o font-blue-steel"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅和维护本机构终端">
												<i class="fa fa-folder font-blue"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅本机构终端">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="仅可查看演示终端">
												<i class="fa fa-tv font-yellow-lemon"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="仅可查看演示终端">
												<i class="fa fa-tv font-yellow-lemon"></i>
											</div>
										</td>
									</tr>
							
									<tr>
										<th rowspan="2" class="active">参数设置</th>
										<td class="active">告警规则设置</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="可查阅">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="可查阅">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
									</tr>
									<tr>
										<td class="active">运行时参数设置</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅和维护">
												<i class="fa fa-check font-green-jungle"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
										<td class="warning">
											<div class="tooltips" data-original-title="可查阅">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
										<td class="info">
											<div class="tooltips" data-original-title="可查阅">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="可查阅">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
										<td>
											<div class="tooltips" data-original-title="可查阅">
												<i class="fa fa-eye font-blue"></i>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</uib-accordion>
				</div>
			</uib-tab>

		</uib-tabset>
	</div>
	
	<!--<div class="">
		
		<div class="">
			
		</div>
	</div>-->

</div>