<div class="page-bar">
	<ol class="page-breadcrumb">
		<li>
			<a ui-sref="monitor.dashboard">主页</a>
            <i class="fa fa-circle"></i>
		</li>
		<li>
            <a ui-sref="wiki.updateHistory">系统帮助</a>
			
		</li>
	</ol>
</div>

<div ng-controller="wikiController" class="page_content wiki">
	
		<div class="row">
			<div class="col-md-12">
				<div class="portlet light">
					<div class="portlet-title tabbable-line">
						<div class="caption caption-md">				
							<span class="caption-subject font-blue-madison bold uppercase"> 帮助列表 </span>
						</div>
						<ul class="nav nav-tabs">
							<li ui-sref-active="active">
								<a ui-sref=".user">
									用户角色
								</a>
							</li>
							<li ui-sref-active="active">
								<a ui-sref=".updateHistory">
									更新日志
								</a>
							</li>
						</ul>
					</div>
					<div class="portlet-body">
						<style>
							.panel .panel-body {
	                            font-size: 14px;
	                        }
	                       .wiki ul,.wiki li{
	                        	list-style-type: disc;
	                        	margin-left: 1em;
	                        }
						</style>
						<div ui-view class="profile-content fade-in-up"></div>
					</div>
				</div>
			</div>
						
			
		</div>

		
	
	
	

</div>